<div class="category-products">
  {% assign limit = settings.product_custom_tab_limit %} 
  {%- assign name_collection = settings.product_custom_tab_collection -%}
  {%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
  {%- assign collection = collections[name_collection] -%}
  {% if collection.products.size == 0 %}
    <p style="text-align:center;color:#999;padding: 5px 10px;font-style:italic;">{{ 'products.general.no_more_product' | t }}</p>
  {% else %}
  <div class="data-carousel"
         data-items="1"
         data-auto="5000"
         data-414="1"
         data-768="1"
         data-992="1"
         data-paging="false"
         data-nav="true"
         data-loop="true"
         data-prev='<i class="icon-left-open"></i>'
         data-next='<i class="icon-right-open"></i>' style="display: none;"></div>
    <div class="products-grid small-list owl-carousel carousel-init owl-list owl-carousel-lazy show-nav-title">
      {% for product in collection.products limit: limit %}
      {% assign on_sale = false %}
      {% if product.compare_at_price_min > product.price_min %}
      {% assign on_sale = true %}
      {% endif %}
      {%- assign imgsrc = 'img600x600.png' | asset_img_url: '150x' -%}
      {%- assign pt = '100%' -%}
      {% if product.featured_image %}
        {%- assign pt = 100 | divided_by: product.featured_image.aspect_ratio | append: '%' -%}
        {% assign imgsrc = product.featured_image.src | img_url: '150x150', crop: 'center' %}
      {% endif %}
    {% assign row = forloop.index | modulo:3 %}
      {% if row == 1 %}
      <div class="item">
      {% endif %}
        <div class="item-area">
          <div class="product-image-area">
            <a href="{{ product.url | within: collection }}" class="product-image">
              <img data-src="{{ imgsrc }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main lazyload" style="padding-top: {{pt}};"/>
            </a>
          </div>
          <div class="details-area">
            <h2 class="product-name">
              <a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
                {{ product.title }} 
              </a>
            </h2>
            <div class="ratings">
              <div class="rating-box">
                <span class="prorw_preview_badge_setup" id="prorw_preview_badge_id_{{ product.id }}" data-product-id="{{ product.id }}" data-average-ratings="{% if product.metafields.proviews.averageRatings != blank %}{{product.metafields.proviews.averageRatings}}{% else %}0{% endif %}" data-count="{% if product.metafields.proviews.totalReviewCount != blank %}{{product.metafields.proviews.totalReviewCount}}{% else %}0{% endif %}"></span>             
                <!--<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>->
              </div>
            </div>
            <div class="price-box">
              <div class="price">
                {% if on_sale %}
                {% if product.price_varies %}
                {% assign sale_price = product.price | money %}
                <span class="money">
                  {{- 'products.product.on_sale_from_html' | t: price: sale_price -}}
                </span>
                {% else %}
                <div class="special-price">
                  <span class="money">{{- product.price | money -}}</span>
                </div>
                {% endif %}
                {% else %}
                {% if product.price_varies %}
                {% assign price = product.price | money %}
                <span class="money">{{- 'products.general.from_text_html' | t: price: price -}}</span>
                {% else %}
                <span class="money">
                  {{- product.price | money -}}
                </span>
                {% endif %}
                {% endif %}
                {% if sold_out %}
                  <div class="button-wrapper-content">
                  <a href="/pages/contact" class="btn-cart bordered uppercase">
                  <i class="icon-cart"></i>
                  <span class="money">{{ 'products.product.sold_out' | t }}</span></a>
                  </div> 
                <!--<span class="money">{{- 'products.product.sold_out' | t -}}</span>->
                {% endif %}
                {% if on_sale %}
                <div class="compare-price">
                  <span class="money">{{- product.compare_at_price | money -}}</span>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% if row == 0 or forloop.last %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>