<!-- /snippets/breadcrumb.liquid -->
{% comment %}
Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
<nav class="main-breadcrumbs {% if settings.about_page_heading == 'upload' %}page-heading {% endif %}" role="navigation" aria-label="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs" {% if settings.about_page_heading == 'upload' %}style="height: {{ settings.about_page_heading_height }}px;"{% endif %}>
      {% if settings.about_page_heading == 'upload' %}
        <div class="bg-image" style="background: url({{ 'about_page_heading_image.png' | asset_url }}) no-repeat center center;"></div>
      {% endif %}
      <div class="breadcrumbs-inner">
        <span class="bread-title">
          <h3>
            {% if template contains 'product' %}
              {% if collection %} 
              {{ product.title }} 
              {% endif %}
            {% elsif template contains 'collection' and collection.handle %} 
              {{ collection.title }} 
            {% elsif template == 'blog' %} 
              {{ blog.title }} 
            {% elsif template == 'article' %} 
              {{ article.title }} 
            {% elsif template contains 'page' %} 
              {{ page_title }} 
            {% elsif template contains 'account' %}
              <span>{{ 'customer.account.title' | t }}</span>
            {% elsif template contains 'cart' %}
              <span>{{ 'cart.general.title' | t }}</span>
            {% elsif template contains 'order' %}
              <span>{{ 'customer.account.title' | t }}</span>
            {% elsif template contains 'addresses' %}
              <span>{{ 'customer.addresses.title' | t }}</span>
            {% elsif template contains 'login' %}
              <span>{{ 'customer.login.page_title' | t }}</span>
            {% elsif template contains 'register' %}
              <span>{{ 'customer.register.page_title' | t }}</span>
            {% endif %}
          </h3>
        </span>
        <ul>
          <li class="home">
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
          </li>
          {% if template contains 'product' %}
          {% if collection %}
          <li>
            <span aria-hidden="true">/</span>
            {% if collection.handle %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %} 
            {{ collection.title | link_to: url }} 
            {% endif %}
          </li>
          {% endif %}
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ product.title }}</span>
          </li>
          {% elsif template contains 'collection' and collection.handle %}
          {% if current_tags %}
          <li>
            <span aria-hidden="true">/</span>
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %} 
            {{ collection.title | link_to: url }} 
            <span aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
          </li>
          {% else %}
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ collection.title }}</span>
          </li>
          {% endif %}
          {% elsif template == 'blog' %}
          {% if current_tags %}
          <li>
            <span aria-hidden="true">/</span> 
            {{ blog.title | link_to: blog.url }} 
            <span aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
          </li>
          {% else %}
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ blog.title }}</span>
          </li>
          {% endif %}
          {% elsif template == 'article' %}
          <li>
            <span aria-hidden="true">/</span>
            {{ blog.title | link_to: blog.url }}
          </li>
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ article.title }}</span>
          </li>
          {% elsif template contains 'page' %}
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ page.title }}</span>
          </li>
          {% else %}
          <li>
            <span aria-hidden="true">/</span>
            <span>{{ page_title }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endunless %}
