{% capture collection_title %}{{ sub_collection.title | escape }}{% endcapture %}
{%- assign product_count = sub_collection.all_products_count -%}
{%- if sub_collection.template_suffix == 'sub-collection' -%}
{%- assign product_count = total_products -%}
{%- endif -%}
<div class="product-top">
  <a href="{{ sub_collection.url }}" title="{{ collection_title }}">
    {% if sub_collection.image %}
      {{ sub_collection.image.src | collection_img_url: '400x400', crop: 'center' | img_tag: collection_title }}
    {% else %}
      {{ sub_collection.products.first.featured_image | product_img_url: '400x400', crop: 'center' | img_tag: collection_title }}
    {% endif %}
  </a>
  <span class="thumb-info-title">
    <h3 class="sub-title thumb-info-inner"> 
      <a href="{{ sub_collection.url }}" title="{{ 'sub_collection.general.link_title' | t: title: collection_title }}">
        {{ sub_collection.title }}
      </a> 
    </h3>
    <span class="thumb-info-type">{{ 'collections.general.items_with_count' | t: count: product_count }}</span>
  </span>
</div>