<div class="footer_newsletter_subscribe"> 
  {{ settings.newsletter_footer_content }} 
  {% if settings.newsletter_form_action != blank %}
  {% assign form_action = settings.newsletter_form_action %}
  {% else %}
  {% assign form_action = '#' %}
  {% endif %}
  <div class="widget">
    <div class="widget-newsletter-form">
      <p class="text">{{ 'general.newsletter_form.text' | t }}</p>
      <form action="{{ form_action }}" method="post" target="_blank" name="mc-embedded-subscribe-form">
        <input id="fnc-email" placeholder="Email Address" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
        <button type="submit" class="btn-button" name="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
      </form>
    </div>
  </div>
</div>
