<div class="modal-wrapper mfp-hide" id="login-popup">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">{{ 'customer.login.page_title' | t }}</h2>

        {% form 'customer_login' %}
        <label for="login-email">{{ 'customer.login.email' | t }} <span class="required">*</span></label>
        <input type="email" name="customer[email]" class="form-input form-wide" id="login-email" autocapitalize="off" autocorrect="off" required />

        <label for="login-password">{{ 'customer.login.password' | t }} <span class="required">*</span></label>
        <input type="password" name="customer[password]" class="form-input form-wide" id="login-password" required />

        <div class="form-footer">
          <button type="submit" class="btn-md">{{ 'customer.login.page_title' | t }}</button>
        </div><!-- End .form-footer -->
        <a href="/account/login#recover" class="forget-password">{{ 'customer.login.forgot_password' | t }}</a>
        {% endform %}
      </div><!-- End .col-md-6 -->

      <div class="col-md-6">
        <h2 class="title">{{ 'customer.register.page_title' | t }}</h2>

        {% form 'create_customer' %}
        <div class="row">
          <div class="col-6">
            <label for="first-name">{{ 'customer.register.first_name' | t }}<span class="required">*</span></label>
            <input type="text" name="customer[first_name]" id="first-name" class="form-input form-wide"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required/>
          </div>

          <div class="col-6">
            <label for="last-name">{{ 'customer.register.last_name' | t }}<span class="required">*</span></label>
            <input type="text" name="customer[last_name]" id="last-name" class="form-input form-wide"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>
          </div>
        </div>

        <label for="register-email">{{ 'customer.login.email' | t }} <span class="required">*</span></label>
        <input type="email" name="customer[email]" class="form-input form-wide" id="register-email" required>

        <label for="register-password">{{ 'customer.login.password' | t }} <span class="required">*</span></label>
        <input type="password" name="customer[password]" class="form-input form-wide" id="register-password" required />

        <div class="form-footer">
          <button type="submit" class="btn-md">{{ 'customer.register.page_title' | t }}</button>
        </div><!-- End .form-footer -->
        {% endform %}
      </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div>

<script>
  $(document).ready(() => {
    $("a[href='/account/login']").click((e) => {
      e.preventDefault();
      $.magnificPopup.open({
        items: {
          src: $('#login-popup'),
          type: 'inline'
        },
        removalDelay: 350,
        mainClass: 'mfp-smooth-fade login-popup',
        midClick: true,
        fixedBgPos: true
      });
    });
  });
</script>