{%- assign list = linklists[settings.nav_linklist] -%}
{%- if include_second_menu -%}
  {%- assign list = linklists[settings.nav_linklist2] -%}
{%- endif -%}
{%- if settings.header_design == 'type13' or settings.header_design == 'type14' or settings.header_design == 'type24' or settings.header_design == 'type26' or settings.header_design == 'type4' or settings.header_design == 'type32' -%}
<div class="switcher-wrap">
  {% include 'menu-setting' %}
</div>
{%- endif -%}
<ul id="mobile-menu" class="nav-accordion nav-categories">
  {%- for link in list.links -%}
  {%- capture menu_label -%}menu_item_label_{{ forloop.index }}{%- endcapture -%}
  {%- capture menu_label_text1 -%}menu_item_label_{{ forloop.index }}_text1{%- endcapture -%}
  {%- capture menu_label_text2 -%}menu_item_label_{{ forloop.index }}_text2{%- endcapture -%}
  {%- assign child_list_handle = link.title | handleize -%}
  {%- if linklists[child_list_handle].links != blank -%}
  <li class="level0 level-top parent {% if forloop.index == list.links.size %}last{% endif %}">
    <a href="{{ link.url }}" class="level-top">
      <span> 
        {{ link.title }} 
        {%- if settings[menu_label] !='' and settings[menu_label] == '1' -%}
        <span class="cat-label cat-label-label1 pin-bottom"> 
          {{ settings[menu_label_text1] }} 
        </span>
        {%- endif -%}
        {%- if settings[menu_label] !='' and settings[menu_label] == '2' -%}
        <span class="cat-label cat-label-label2 pin-bottom"> 
          {{ settings[menu_label_text2] }} 
        </span>
        {%- endif -%}
      </span>
    </a>
    <ul class="level0">
      {%- for childlink in linklists[child_list_handle].links -%}
      {%- assign grand_child_list_handle = childlink.title | handle -%}
      {%- if linklists[grand_child_list_handle].links != blank -%}
      <li class="level1 parent {% if forloop.index == linklists[child_list_handle].links.size %}last{% endif %}">
        <a href="{{ childlink.url }}"><span>{{ childlink.title }}</span></a>
        <ul class="level1">
          {%- for grand_child_link in linklists[grand_child_list_handle].links -%}
          <li class="level2 {% if forloop.index == linklists[grand_child_list_handle].links.size %}last{% endif %}">
            <a href="{{ grand_child_link.url }}" class="site-nav__link"> 
                {{ grand_child_link.title | split: '[' | first | capitalize }} 
                {%- if grand_child_link.title contains '[' -%}
                {%- assign label_child  = grand_child_link.title |  split: '[' | last  | split: ']' | first -%}
                <span class="cat-label cat-label-{{label_child | handleize }} pin-left">{{label_child | upcase }}</span>
              {%- endif -%}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      {%- else -%}
      <li class="level1 {% if forloop.index == linklists[child_list_handle].links.size %}last{% endif %}">
        <a href="{{ childlink.url }}">
          <span>{{ childlink.title }}</span>
        </a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </li>
  {%- else -%}
  <li class="level0 level-top">
    <a href="{{ link.url }}" class="level-top">
      <span> 
        {{ link.title }} 
        {%- if settings[menu_label] !='' and settings[menu_label] == '1' -%}
        <span class="cat-label cat-label-label1 pin-bottom"> 
          {{ settings[menu_label_text1] }} 
        </span>
        {%- endif -%}
        {%- if settings[menu_label] !='' and settings[menu_label] == '2' -%}
        <span class="cat-label cat-label-label2 pin-bottom"> 
          {{ settings[menu_label_text2] }} 
        </span>
        {%- endif -%}
      </span>
    </a>
  </li>
  {%- endif -%}
  {%- endfor -%}
</ul>
<div class="mobile-search">
{% include 'header-search', is_mobile: true %}
</div>