<p class="page-total float-left">
  <span>{{ 'collections.general.showing' | t }}</span>: 
  {{ paginate.current_offset | plus: 1 }} -
  {% if paginate.next %}
  {{ paginate.current_offset | plus: paginate.page_size }}
  {% else %}
  {{ paginate.items }}
  {% endif %}
  <span>{{ 'collections.general.of' | t }}</span>
  {{ paginate.items }}
</p>
<ul id="pagination-page" class="pagination-page">
  {% if paginate.previous %}
  <li class="text">
    <a href="{{ paginate.previous.url }}{{ anchor }}" title="{{ 'collections.general.previous' | t }}">
      <span><i class="icon-angle-left"></i></span>
    </a>
  </li>
  {% else %} 
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  <li>
    <a href="{{ part.url }}{{ anchor }}">{{ part.title }}</a>
  </li>
  {% else %}
  {% if part.title == paginate.current_page %}
  <li class="active"><span>{{ part.title }}</span></li>
  {% else %}
  <li><span>{{ part.title }}</span></li>
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if paginate.next %}
  <li class="text">
    <a href="{{ paginate.next.url }}{{ anchor }}" title="{{ 'collections.general.next' | t }}">
      <span><i class="icon-angle-right"></i></span>
    </a>
  </li>
  {% else %} 
  {% endif %}
</ul>