{% assign imgsrc = 'img600x600.png' | asset_img_url: '100x' %}
{% if product.featured_image %}
  {% assign imgsrc = product.featured_image.src | img_url: '100x100' %}
{% endif %}
<div class="item product">
  <div class="item-area">
    <div class="product-image-area">
      <a href="{{ product.url | within: collection }}" class="product-image">
        <img data-src="{{ imgsrc }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main" style="padding-top: 100%;">
      </a>
    </div>
    <div class="details-area">
      <h2 class="product-name">
        <a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
          {{ product.title }} 
        </a>
      </h2>
      <div class="rating-box">
            <span class="prorw_preview_badge_setup" id="prorw_preview_badge_id_{{ product.id }}" data-product-id="{{ product.id }}" data-average-ratings="{% if product.metafields.proviews.averageRatings != blank %}{{product.metafields.proviews.averageRatings}}{% else %}0{% endif %}" data-count="{% if product.metafields.proviews.totalReviewCount != blank %}{{product.metafields.proviews.totalReviewCount}}{% else %}0{% endif %}"></span>
        <!--<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>-->
      </div>
      <div class="product-sku">
        <span>{{ 'products.product.sku' | t }} </span>
        <span class="sku"></span>
      </div>
      <div class="price-box">
        <div class="price">
          {% if on_sale %}
          {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          <span class="money">
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          </span>
          {% else %}
          <div class="special-price">
            <span class="money">{{ product.price | money }}</span>
          </div>
          {% endif %}
          {% else %}
          {% if product.price_varies %}
          {% assign price = product.price | money %}
          <span class="money">{{ 'products.general.from_text_html' | t: price: price }}</span>
          {% else %}
          <span class="money">
            {{ product.price | money }}
          </span>
          {% endif %}
          {% endif %}
          {% if sold_out %}
              <div class="button-wrapper-content">
              <a href="/pages/contact" class="btn-cart bordered uppercase">
              <i class="icon-cart"></i>
              <span class="money">{{ 'products.product.sold_out' | t }}</span></a>
              </div>             
              <!--<span class="money">{{ 'products.product.sold_out' | t }}</span>-->
          {% endif %}
          {% if on_sale %}
          <div class="compare-price">
            <span class="money">{{ product.compare_at_price | money }}</span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>