{%- for block in section.blocks-%}
  {%- case block.type -%}
  {%- when 'custom_html' -%}
    {%- if block.settings.product_id == product.handle -%}
    <div class="fullwidth-custom-block"> 
      {{ block.settings.content }} 
    </div>
    <style>
    .fullwidth-custom-block {
      padding: {{block.settings.padding}};
      margin-top: {{block.settings.margin_top | remove: "px" | append: "px"}};
      margin-bottom: {{block.settings.margin_bottom | remove: "px" | append: "px"}};
    }
    </style>
    {%- endif -%}
  {%- when 'product_video'-%} 
	{%- if block.settings.product_id == product.handle -%}
    <div class="fullwidth-row">
      <div class="full-width-video">
        <div class="porto-u-heading" style="text-align:center">
          {%- if section.settings.product_page_type != 'fullwidth' -%}
          <h3 style="font-weight: 600;color:#21293c;font-size: 36px;"> 
            {{ block.settings.content1 }} 
          </h3>
          {%- endif -%}
          <div class="porto-u-sub-heading" style="font-weight: 600;color: #7b858a;font-size: 20px;line-height: 36px;">
            {%- if section.settings.product_page_type != 'fullwidth' -%} 
            {{ block.settings.content2 }} 
            {%- endif -%}
            <a class="video-popup" href="{{block.settings.video_url}}">
              {%- assign icon_w = '38' -%}
              {%- assign icon_h = '38' -%}
              {%- assign icon_img = 'shop1_extended_product_playicon.png' -%}
              {%- if section.settings.product_page_type == 'fullwidth' -%}
              {%- assign icon_w = '120' -%}
              {%- assign icon_h = '120' -%}
              {%- assign icon_img = 'shop1_fullwidth_product_playicon.png' -%}
              {%- endif -%}
              <img style="cursor: pointer;margin-left: 5px" src="{{icon_img | asset_url }}" alt="" width="{{icon_w}}" height="{{icon_h}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.video-popup').magnificPopup({
        type:'iframe',
        markup: '<div class="mfp-iframe-scaler">'+
        '<div class="mfp-close">×</div>'+
        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
        '</div>',
      });
    });
    </script>
    <style>
      .full-width-video {
        {%- if block.settings.background_image != blank -%}
        background-image: url({{block.settings.background_image | img_url: 'master'}}) !important;
        background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
        background-repeat: {{block.settings.background_image_repeat}} !important;
        background-size: {{block.settings.background_size}} !important;
        background-attachment: {{block.settings.background_attachment}} !important;
        {%- endif -%}
        background-color: #fff;
        padding: {{block.settings.padding}};
        margin-top: {{block.settings.margin_top | remove: "px" | append: "px"}};
        margin-bottom: {{block.settings.margin_bottom | remove: "px" | append: "px"}};
      } 
      .mfp-iframe-holder .mfp-close {
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        top: -37px; 
        padding: 0;
        width: 40px;
        height: 40px;
        text-indent: -9999em;
        text-align: left;
        opacity: 1;
      }
      .mfp-iframe-holder .mfp-close:before {
        width: 16px;
        top: 19px;
        left: 12px;
        border-top-width: 2px;
      }
      .mfp-iframe-holder .mfp-close:after {
        height: 16px;
        top: 12px;
        left: 19px;
        border-left-width: 2px;
      }
    </style>
    {%- endif -%}
  {%- when 'product_video_fullwidth' -%}
	{%- if block.settings.product_id == product.handle -%}
    <div class="fullwidth-row">
      <div class="full-width-video">
        <div class="porto-u-heading" style="text-align:center">
          <div class="porto-u-sub-heading" style="font-weight: 600;color: #7b858a;font-size: 20px;line-height: 36px;">
            <a class="video-popup" href="{{block.settings.video_url}}">
              {%- assign icon_w = '120' -%}
              {%- assign icon_h = '120' -%}
              {%- assign icon_img = 'shop1_fullwidth_product_playicon.png' -%}
              <img style="cursor: pointer;margin-left: 5px" data-src="{{icon_img | asset_url }}" alt="" width="{{icon_w}}" height="{{icon_h}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.video-popup').magnificPopup({
        type:'iframe',
        markup: '<div class="mfp-iframe-scaler">'+
        '<div class="mfp-close">×</div>'+
        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
        '</div>',
      });
    });
    </script>
    <style>
      .full-width-video {
        {%- if block.settings.background_image != blank -%}
        background-image: url({{block.settings.background_image | img_url: 'master'}}) !important;
        background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
        background-repeat: {{block.settings.background_image_repeat}} !important;
        background-size: {{block.settings.background_size}} !important;
        background-attachment: {{block.settings.background_attachment}} !important;
        {%- endif -%}
        background-color: #fff;
        padding: {{block.settings.padding}};
        margin-top: {{block.settings.margin_top | remove: "px" | append: "px"}};
        margin-bottom: {{block.settings.margin_bottom | remove: "px" | append: "px"}};
      }
      .mfp-iframe-holder .mfp-close {
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        top: -37px; 
        padding: 0;
        width: 40px;
        height: 40px;
        text-indent: -9999em;
        text-align: left;
        opacity: 1;
      }
      .mfp-iframe-holder .mfp-close:before {
        width: 16px;
        top: 19px;
        left: 12px;
        border-top-width: 2px;
      }
      .mfp-iframe-holder .mfp-close:after {
        height: 16px;
        top: 12px;
        left: 19px;
        border-left-width: 2px;
      }
    </style>
    {%- endif -%}
  {%- endcase -%}
{%- endfor -%}