<div class="product-view product-page-area">
  <div class="product-essential">
    <div class="container">
      <div class="row">
        <div class="product-img-box col-md-12">
          <div class="product-img-list">
            <div class="product-image-list">
              <div class="data-carousel" data-items="3" data-plus="false" data-auto="" data-320="1" data-480="1" data-640="2" data-768="3" data-992="3" data-1200="3" data-margin="0" data-paging="false" data-nav="true" data-loop="false" data-prev='<i class="icon-angle-left"></i>' data-next='<i class="icon-angle-right"></i>' style="display: none;"></div>
              <div class="owl-carousel carousel-init owl-carousel-lazy item-768-3 item-640-2 item-320-1">
                {%- for image in product.images -%}
                <div class="item">
                  {%- assign pt = 100 | divided_by: image.aspect_ratio | append: '%' -%}
                  <div class="image-link">
                    <img class="img-responsive" data-src="{{ image.src | img_url: '600x600' }}" style="padding-top: {{pt}};"/>
                  </div>
                </div>
                {%- endfor -%}
              </div>
            </div>
            <div class="product-shop-wrapper">
              <div class="product-name top-product-detail">
                <h1>
                  <a href="{{ product.url | within: collection }}"> 
                    {{ product.title }} 
                  </a>
                </h1>
              </div>
              <div class="top-right">
                {%- if settings.disable_socical_icon == blank -%}
                {% include 'sharelink' %}
                {%- endif -%}
                {%- if settings.product_prev_next != blank -%}
                <div class="prev-next-products">
                  {%- if collection -%}
                  {%- if collection.previous_product -%}
                  <div class="product-nav product-prev{% if collection.next_product == blank %} no-next{% endif %}">
                    <a href="{{ collection.previous_product }}" title="Previous Product">
                      {{ settings.product_prev_text }}
                    </a>
                    {%- assign words = collection.previous_product | split:'/' -%}
                    {%- assign word = words.last -%}
                    <div class="product-pop" data-with-product="{{word}}">
                      <script type="text/template">
                      <img class="product-image lazyload" data-src="[img:medium]" alt="#title#"/>
                      <h3 class="product-name">#title#</h3>
                      </script>
                    </div>
                  </div>
                  {%- endif -%}
                  {%- if collection.next_product -%}
                  <div class="product-nav product-next">
                    <a class="product-next" href="{{ collection.next_product }}" title="Next Product">
                      {{ settings.product_next_text }}
                    </a>
                    {%- assign words = collection.next_product | split:'/' -%}
                    {%- assign word = words.last -%}
                    <div class="product-pop" data-with-product="{{word}}">
                      <script type="text/template">
                      <img class="product-image lazyload" data-src="[img:medium]" alt="#title#"/>
                      <h3 class="product-name">#title#</h3>
                      </script>
                    </div>
                  </div>
                  {%- endif -%}
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
              <div class="review-product-details">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
              <div class="product-type-data">
                <div class="price-box">
                  <div id="price" class="detail-price" itemprop="price">
                    {%- if variant_tmp.compare_at_price > variant_tmp.price -%}
                    <s class="old-price"> {{ variant_tmp.compare_at_price | money }}</s>
                    <!--span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span-->
                    {%- endif -%}
                    <div class="price">{{ variant_tmp.price | money }}</div>
                  </div>
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                  {%- if product.available -%}
                  <link itemprop="availability" href="http://schema.org/InStock" />
                  {%- else -%}
                  <link itemprop="availability" href="http://schema.org/OutOfStock" />
                  {%- endif -%}
                </div>
              </div>
              {% if product.description contains '[countdown]' %}
              {% assign count_down_first = product.description | split:'[/countdown]' | first %}
              {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
              <div class="bottom-product-dailydeal bottom-home-dailydeal">
                <span class="title">{{'products.product.count_down' | t }} </span><div class="product-date" data-date="{{ count_down_final }}"></div>
              </div>
              {% endif %}
              {%- if settings.product_short_custom != blank -%}
              <div class="porto-custom-block">
                <div class="custom-block-bar"> 
                  {{ settings.custom_block_content_after }} 
                </div>
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
        <div class="product-shop col-md-12">
          <div class="product-shop-wrapper">
            {%- if settings.product_short_desc != '0' -%}
            <div class="short-description">
              {%- assign description = product.description -%}
              {%- if product.description contains '[shortdesc]' and settings.product_short_desc == '1' -%}
              {%- assign last = description | split:'[shortdesc]' | last -%}
              {%- assign description = last | split:'[/shortdesc]' | first -%}
              {%- else -%}
              {%- if product.description contains '[countdown]' -%}
              {%- assign description = description | split:'[/countdown]' | last -%}
              {%- endif -%}
              {%- if product.description contains '[shortdesc]' -%}
              {%- assign description = description | split:'[/shortdesc]' | last -%}
              {%- endif -%}
              {%- if product.description contains '[additional]' -%}
              {%- assign description = description | split:'[/additional]' | last -%}
              {%- endif -%}
              {%- if settings.product_short_desc == '1' -%}
              {%- assign description = description | strip_html | truncatewords: 30 -%}
              {%- endif -%}
              {%- endif -%} 
              {{ description }} 
            </div>
            {%- endif -%}
            <div class="middle-product-detail"> 
              {%- if settings.product_availability -%}
              <div class="product-inventory">
                <span>{{ 'products.product.availability' | t }} </span>
                <span class="in-stock">
                  {%- if product.selected_or_first_available_variant.inventory_management -%}
                  {%- assign first_inventory = product.selected_or_first_available_variant.inventory_quantity -%}
                  {%- if first_inventory > 0 -%}
                  {{first_inventory}} {{ 'products.product.in_stock' | t }}
                  {%- else -%}
                  {{ 'products.product.out_of_stock' | t }}
                  {%- endif -%}
                  {%- else -%}
                  {{ 'products.product.many_in_stock' | t }}
                  {%- endif -%}
                </span>
              </div>
              {%- endif -%}
              {%- if settings.product_sku -%}
              {%- assign current_variant = product.selected_or_first_available_variant -%}
              <div class="product-sku"><span>{{ 'products.product.sku' | t }} </span><span class="sku">{{ current_variant.sku }}</span></div>
              {%- endif -%}
              {%- if settings.product_category -%} 
              <div class="product-category">
                <span>{{ 'products.product.category' | t }}</span>
                <span class="category-list">
                  {%- for collection in product.collections limit:4 -%}
                  {{ collection.title | link_to: collection.url }}{%- if forloop.last == false -%},&nbsp;{%- endif -%}
                  {%- endfor -%} 
                </span>  
              </div>
              {%- endif -%}
              {%- if settings.product_type -%}
              <div class="product-type">
                <span>{{ 'products.product.product_type' | t }} </span>
                <span>{{ product.type }}</span>
              </div>
              {%- endif -%}
              {%- if settings.product_vendor -%}
              <div class="product-vendor">
                <span>{{ 'products.product.product_vendor' | t }} </span>
                <span>{{ product.vendor }}</span>
              </div>
              {%- endif -%} 
              {%- if settings.product_tags -%}
              <div class="tags">
                <span class="icon-tags">{{ 'blogs.article.tags' | t }}:</span>
                <span class="tags-list">
                  {%- for tag in product.tags -%} 
                  <a href="/collections/all/{{ tag | handle }}" rel="tag">{{ tag }}{%- if forloop.last == false -%},&nbsp;{%- endif -%}</a>
                  {%- endfor -%}
                </span>
              </div>
              {%- endif -%}
            </div>
            <div class="product-type-main">
              {%- form 'product', product, class:'product-form', id:'product-main-form' -%}
              <div id="product-variants" class="product-options" {% if product.options.size == 1 and product.options.first == 'Title' %}style="display: none;"{% endif %}>
                <select id="product-selectors" name="id" style="display: none;">
                  {%- for variant in product.variants -%}
                  {%- if variant.available -%}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {%- else -%}
                  <option disabled="disabled">
                    {{ variant.title }} - {{'products.product.sold_out' | t}}
                  </option>
                  {%- endif -%}
                  {%- endfor -%}
                </select>
              </div>
              <div class="product-options-bottom">
                <div class="add-to-cart-box">
                  <label class="qty">{{'products.product.quantity' | t }}:</label>
                  <div class="input-box">
                    <input type="text" id="qty" name="quantity" value="1" min="1" class="quantity-selector">
                    <div class="plus-minus">
                      <div class="increase items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        <i class="icon-up-dir"></i>
                      </div>
                      <div class="reduced items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                        <i class="icon-down-dir"></i>
                      </div>
                    </div>
                  </div>
                  <div class="actions">
                    <div class="action-list addtocart">
                      <div class="button-wrapper">
                        {%- if product.available -%}
                        <div class="button-wrapper-content">
                          <button type="submit" name="add" class="btn-cart add-to-cart bordered uppercase">
                            <i class="icon-cart"></i>
                            <span>{{ 'products.product.add_to_cart' | t }}</span>
                          </button>
                        </div>
                        {%- else -%}
                        <div class="button-wrapper-content">
                          <button href="javascript:;" class="btn-cart add-to-cart" disabled="disabled">
                            <i class="icon-cart"></i>
                            <span>{{ 'products.product.sold_out' | t }}</span>
                          </button>
                        </div>
                        {%- endif -%}
                      </div>
                    </div>
                    {%- if settings.disable_addtolink == blank -%}
                    <div class="action-list wishlist">
                      {% include 'wishlist-item' %}
                    </div>
                    {%- endif -%}
                  </div>
                  {%- if settings.enable_payment_button -%}
                  {{ form | payment_button }}
                  {%- endif -%}
                </div>
              </div>
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-collateral">
    <div class="container">
      <div class="product-description rte" itemprop="description">
        {% include 'product-page-tab-custom' %}
      </div>
    </div>
  </div>
  {% include 'product-page-custom-html' %} 
  {%- if settings.related_product_display -%}
  {%- if settings.full_width_background_related == blank -%}
  <div class="products-related">
    <div class="container">
      <div class="products-collection porto-products">
        {%- if settings.related_product_type == "tags" -%}
        {% include 'related-products-by-tags' %}
        {%- else -%}
        {% include 'related-products' %}
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- endif -%}
</div>