{%- if section.blocks.size > 0 -%}
{%- if settings.product_tab_style !='accordion' -%}
{%- if settings.custom_product_tab_right != blank -%}
<div class="row">
  <div class="col-md-9">
    {%- endif -%}
    <div class="product-tabs {{settings.product_tab_style}}">
      <ul class="nav level0">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'description' -%}
        <li class="description_tab level0 nav-item">
          <a class="level0 nav-link {% if forloop.first %}active{% endif %}" href="#product_tabs_description" role="tab" data-toggle="tab"> 
            {{ block.settings.title }}
          </a>
        </li>
        {%- when 'review' -%}
        <li class="reviews_tab level0 nav-item">
          <a class="level0 nav-link {% if forloop.first %}active{% endif %}" href="#product_tabs_tabreviews" role="tab" data-toggle="tab" aria-selected="true" aria-control="product_tabs_tabreviews">
            {{ block.settings.title }} 
            {%- if block.settings.use_count_reviews -%} 
            <script type="text/javascript">
              $(function(){
                if($('meta[itemprop=reviewCount]').length > 0) {
                  var revcount = '('+ $('meta[itemprop=reviewCount]').attr("content")+')';
                }else {
                  var revcount = '(0)';
                } 
                $('.reviews_tab > a').append(revcount);
              });
            </script>
            {%- endif -%}
          </a>
        </li>
        {%- when 'additional' -%}
        {%- if product.description contains '[additional]' -%}
        <li class="additional_tab level0 nav-item">
          <a class="level0 nav-link {% if forloop.first %}active{% endif %}" href="#product_tabs_additional" role="tab" data-toggle="tab" aria-selected="false" aria-control="product_tabs_additional">
            {{ block.settings.title }} 
          </a>
        </li>
        {%- endif -%}
        {%- when 'size_chart' -%}
        {%- if block.settings.size_chart_image != blank or block.settings.code != '' -%}
        <li class="size_chart_tab level0 nav-item">
          <a class="level0 nav-link {% if forloop.first %}active{% endif %}" href="#product_tabs_size_chart" role="tab" data-toggle="tab" aria-selected="false" aria-control="product_tabs_size_chart">
            {{ block.settings.title }} 
          </a>
        </li>
        {%- endif -%}
        {%- when 'html_tab' -%}
        {%- if block.settings.code != '' -%}
        <li class="html_tab level0 nav-item">
          <a class="level0 nav-link {% if forloop.first %}active{% endif %}" href="#tab{{block.id}}" role="tab" data-toggle="tab" aria-selected="false" aria-control="tab{{block.id}}">
            {{ block.settings.title }} 
          </a>
        </li>
        {%- endif -%}
        {%- endcase -%}
        {%- endfor -%}
      </ul>
      {%- if settings.product_tab_style == "horizontal" -%}
      <div class="clearer"></div>
      {%- endif -%}
      {%- if settings.product_tab_style == "vertical" -%}
      <div class="product-tab-content tab-content">
        {%- endif -%}
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'description' -%}
        <div class="tab-content{% if forloop.first %} show active{% endif %}{% if settings.product_tab_style != 'sticky' %} fade collapse{% endif %}" id="product_tabs_description">
          <div class="product-tabs-content-inner clearfix">
            {%- assign description = product.description -%}
            {%- if description contains '[countdown]' -%}
            {%- assign description = description | split:'[/countdown]' | last -%}
            {%- endif -%}
            {%- if product.description contains '[shortdesc]' -%}
            {%- assign description = description | split:'[/shortdesc]' | last -%}
            {%- endif -%}
            {%- if product.description contains '[additional]' -%}
            {%- assign description = description | split:'[/additional]' | last -%}
            {%- endif -%}   
            {% include 'shortcode' load: description %} 
          </div>
        </div>
        {%- when 'review' -%}
        <div class="tab-content{% if forloop.first %} show active{% endif %}{% if settings.product_tab_style != 'sticky' %} fade collapse{% endif %}" id="product_tabs_tabreviews">
          <div class="product-tabs-content-inner clearfix">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </div>
        {%- when 'additional' -%}
        {%- if product.description contains '[additional]' -%}
        <div class="tab-content{% if forloop.first %} show active{% endif %}{% if settings.product_tab_style != 'sticky' %} fade collapse{% endif %}" id="product_tabs_additional">
          <div class="product-tabs-content-inner clearfix">
            {%- if product.description contains '[additional]' -%}
            {%- assign get = product.description | split:'[/additional]' | first -%}
            {%- assign additional = get | split:'[additional]' | last -%}  
            {% include 'shortcode' load: additional %} 
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- when 'size_chart' -%}
        {%- if block.settings.size_chart_image != blank or block.settings.code != '' -%}
        <div class="tab-content{% if forloop.first %} show active{% endif %}{% if settings.product_tab_style != 'sticky' %} fade collapse{% endif %}" id="product_tabs_size_chart">
          <div class="product-tabs-content-inner clearfix">
            {%- if block.settings.size_chart_image != blank -%}
            <img data-src="{{ block.settings.size_chart_image | img_url: 'master' }}" class="img-responsive" />
            {%- else -%} 
            {{ block.settings.code }} 
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- when 'html_tab' -%}
        {%- if block.settings.code != '' -%}
        <div class="tab-content{% if forloop.first %} show active{% endif %}{% if settings.product_tab_style != 'sticky' %} fade collapse{% endif %}" id="tab{{block.id}}">
          <div class="product-tabs-content-inner clearfix">   
            {% include 'shortcode' load: block.settings.code %} 
          </div>
        </div>
        {%- endif -%}
        {%- endcase -%}
        {%- endfor -%}
        {%- if settings.product_tab_style == "vertical" -%}
      </div>
      {%- endif -%}
    </div>
    {%- if settings.product_tab_style == "sticky" -%}
    <script type="text/javascript">
      $(function(){
        var sticky_tabs;
        var is_sticky = false;
        $(".product-tabs > ul > li > a").off("click").on("click", function() {
          $($(this).attr('href')).scrollToMe();
        });
        $(window).scroll(function(){
          if($(window).scrollTop() >= $(".product-tabs").offset().top){
            if(!is_sticky){
              sticky_tabs = $(".product-tabs.sticky > ul").clone().detach();
              $(sticky_tabs).addClass("sticky-tab");
              $(".product-tabs.sticky").before('<div class="product-tabs-container"><div class="container"></div></div>');
              $(".product-tabs-container > .container").append(sticky_tabs);
              $(".sticky-tab > li > a").off("click").on("click", function(){
                $($(this).attr('href')).scrollToMe();
              });
              if($('.sticky-header').length > 0) {
                $(".product-tabs-container").addClass("has-sticky-header");
              }
              if($('.sticky-product').length > 0) {
                $(".product-tabs-container").addClass("has-sticky-product");
              }
              is_sticky = true;
            }
          } else {
            $(".product-tabs-container").remove();
            is_sticky = false;
          }
        });
      });
    </script>
    {%- endif -%}
    {%- if settings.custom_product_tab_right != blank -%}
  </div>
  <div class="col-md-3">
    <div class="custom-block-tab-right">
      <div class="block bestseller bestseller-custom-tab sidebar-cate-toogle">
        <div class="block-title"> 
          {{ settings.product_custom_tab_title }} 
        </div>
        <div class="sidebar-content block-content">
          {% include 'bestseller-product-custom-tab' %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}
{%- if settings.product_tab_style =='accordion' -%}
{%- if settings.custom_product_tab_right != blank -%}
<div class="row">
  <div class="col-md-9">
    {%- endif -%}
    <div class="product-tab-accordion">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'description' -%}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#product_tabs_description" data-toggle="collapse" aria-expanded="false" aria-controls="product_tabs_description"> 
              {{ block.settings.title }} 
            </a>
          </h4>
        </div>
        <div class="tab-content {% if forloop.first %}show active{% endif %} first collapse" id="product_tabs_description">
          <div class="product-tabs-content-inner clearfix">
            {%- assign description = product.description -%}
            {%- if description contains '[countdown]' -%}
            {%- assign description = description | split:'[/countdown]' | last -%}
            {%- endif -%}
            {%- if product.description contains '[shortdesc]' -%}
            {%- assign description = description | split:'[/shortdesc]' | last -%}
            {%- endif -%}
            {%- if product.description contains '[additional]' -%}
            {%- assign description = description | split:'[/additional]' | last -%}
            {%- endif -%}   
            {% include 'shortcode' load: description %} 
          </div>
        </div>
      </div>
      {%- when 'review' -%}
      <div class="panel panel-default panel-review-tab">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#product_tabs_tabreviews" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="product_tabs_tabreviews"> 
              {{ block.settings.title }} 
              {%- if block.settings.use_count_reviews -%}
              {%- assign reviews_counts = 0 -%}
              {%- if product.metafields.spr.reviews -%}
              {%- capture spr_data -%}{{ product.metafields.spr.reviews }}{%- endcapture -%}
              {%- assign spr1 = spr_data | split: '<meta itemprop="reviewCount" content="' -%}
              {%- assign spr2 = spr1[1] | split: '\">\n' | first -%}
              {%- assign reviews_counts = spr2 | first | plus:0 -%}
              {%- endif -%}
              {%- if reviews_counts <= 0 -%}
              {%- assign spr_counts = "(0)" -%}
              {%- else -%}
              {%- capture spr_counts -%}({{reviews_counts}}){%- endcapture -%}
              {%- endif -%}
              {{spr_counts}}
              {%- endif -%}
            </a>
          </h4>
        </div>
        <div class="tab-content {% if forloop.first %}show active{% endif %} collapse" id="product_tabs_tabreviews">
          <div class="product-tabs-content-inner clearfix">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </div>
      </div>
      {%- when 'additional' -%}
      {%- if product.description contains '[additional]' -%}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#product_tabs_additional" data-toggle="collapse" aria-expanded="false" aria-controls="product_tabs_additional"> 
              {{ block.settings.title }} 
            </a>
          </h4>
        </div>
        <div class="tab-content {% if forloop.first %}show active{% endif %} collapse" id="product_tabs_additional">
          <div class="product-tabs-content-inner clearfix">
            {%- if product.description contains '[additional]' -%}
            {%- assign get = product.description | split:'[/additional]' | first -%}
            {%- assign additional = get | split:'[additional]' | last -%} 
            {% include 'shortcode' load: additional %} 
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- when 'size_chart' -%}
      {%- if block.settings.size_chart_image != blank or block.settings.code != '' -%}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#product_tabs_size_chart" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="product_tabs_size_chart"> 
              {{ block.settings.title }} 
            </a>
          </h4>
        </div>
        <div class="tab-content {% if forloop.first %}show active{% endif %} collapse" id="product_tabs_size_chart">
          <div class="product-tabs-content-inner clearfix">
            {%- if block.settings.size_chart_image != blank -%}
            <img data-src="{{ block.settings.size_chart_image | img_url: 'master' }}" class="img-responsive" />
            {%- else -%} 
            {{ block.settings.code }} 
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- when 'html_tab' -%}
      {%- if block.settings.code != '' -%}
      <div class="panel panel-default panel-custom-tab">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#tab{{block.id}}" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="tab{{block.id}}"> 
              {{ block.settings.title }} 
            </a>
          </h4>
        </div>
        <div class="tab-content {% if forloop.first %}show active{% endif %} collapse" id="tab{{block.id}}">
          <div class="product-tabs-content-inner clearfix">  
            {% include 'shortcode' load: block.settings.code %} 
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- endcase -%}
      {%- endfor -%}
    </div>
    {%- if settings.custom_product_tab_right != blank -%}
  </div>
  <div class="col-md-3">
    <div class="custom-block-tab-right">
      <div class="block bestseller  bestseller-custom-tab sidebar-cate-toogle">
        <div class="block-title"> 
          {{ settings.product_custom_tab_title }} 
        </div>
        <div class="sidebar-content block-content">
          {% include 'bestseller-product-custom-tab' %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}
{%- endif -%}