<div class="product-share">
  <div class="share-links">
    <a href="https://www.facebook.com/sharer.php?u={{shop.url}}{{product.url}}" target="_blank" rel="nofollow" title="{{product.title}}" class="share-facebook">Facebook</a>
    <a href="https://twitter.com/intent/tweet?text={{product.title}}&amp;url={{shop.url}}{{product.url}}" target="_blank" rel="nofollow" title="{{product.title}}" class="share-twitter">Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{shop.url}}{{product.url}}&amp;title={{product.title}}" target="_blank" rel="nofollow" class="share-linkedin" title="{{product.title}}">LinkedIn</a>
    <!--<a href="https://plus.google.com/share?url={{shop.url}}{{product.url}}" target="_blank" rel="nofollow" title="{{product.title}}" class="share-googleplus">Google +</a>-->
    <a href="mailto:?subject={{product.title}}&amp;body={{shop.url}}{{product.url}}" target="_blank" rel="nofollow" title="{{product.title}}" class="share-email">Email</a>
  </div>
</div>