{%- capture block_title -%}{%- include 'shortcode-render' render:'title' -%}{%- endcapture -%}
{%- capture title_style -%}{%- include 'shortcode-render' render:'title_style', default:'border-bottom' -%}{%- endcapture -%}
{%- capture title_align -%}{%- include 'shortcode-render' render:'title_align', default:'left' -%}{%- endcapture -%}
{%- capture limit -%}{%- include 'shortcode-render' render:'limit' default:'8' -%}{%- endcapture -%}
{%- capture column -%}{%- include 'shortcode-render' render:'cols' default:'4' -%}{%- endcapture -%}
{%- capture loadmore -%}{%- include 'shortcode-render' render:'loadmore' -%}{%- endcapture -%}
{%- capture space -%}{%- include 'shortcode-render' render:'space' default:'10' -%}{%- endcapture -%}
{%- capture view_mode -%}{%- include 'shortcode-render' render:'view_mode' -%}{%- endcapture -%}
{%- capture product_layout %}{%- include 'shortcode-render' render:'product_layout' -%}{%- endcapture -%}


{%- capture _show_discount %}{%- include 'shortcode-render' render:'show_discount' -%}{%- endcapture -%}
{%- capture _show_sale %}{%- include 'shortcode-render' render:'show_sale' -%}{%- endcapture -%}
{%- capture _sale_label_text %}{%- include 'shortcode-render' render:'sale_label_text' -%}{%- endcapture -%}
{%- capture _alternative_image %}{%- include 'shortcode-render' render:'alternative_image' -%}{%- endcapture -%}
{%- capture _show_grid_quickview %}{%- include 'shortcode-render' render:'show_grid_quickview' -%}{%- endcapture -%}
{%- capture _show_product_category %}{%- include 'shortcode-render' render:'show_product_category' -%}{%- endcapture -%}
{%- capture _show_rating_star %}{%- include 'shortcode-render' render:'show_rating_star' -%}{%- endcapture -%}
{%- capture _show_product_price %}{%- include 'shortcode-render' render:'show_product_price' -%}{%- endcapture -%}
{%- capture _grid_swatch_type %}{%- include 'shortcode-render' render:'grid_swatch_type' -%}{%- endcapture -%}
{%- capture _show_addtocart %}{%- include 'shortcode-render' render:'show_addtocart' -%}{%- endcapture -%}
{%- capture _show_addtolinks %}{%- include 'shortcode-render' render:'show_addtolinks' -%}{%- endcapture -%} 

{%- assign show_discount = false  -%}
{%- assign show_sale = false  -%}
{%- assign sale_label_text = _sale_label_text  -%}
{%- assign alternative_image = false  -%}
{%- assign show_grid_quickview = false  -%}
{%- assign show_product_category = false  -%}
{%- assign show_rating_star = false  -%}
{%- assign show_product_price = false  -%}
{%- assign grid_swatch_type = _grid_swatch_type  -%}
{%- assign show_addtocart = false  -%}
{%- assign show_addtolinks = false  -%}

{%- if _show_discount == 'true' -%}{%- assign show_discount = true -%}{%- endif -%}
{%- if _show_sale == 'true' -%}{%- assign show_sale = true -%}{%- endif -%}
{%- if _alternative_image == 'true' -%}{%- assign alternative_image = true -%}{%- endif -%}
{%- if _show_grid_quickview == 'true' -%}{%- assign show_grid_quickview = true -%}{%- endif -%}
{%- if _show_product_category == 'true' -%}{%- assign show_product_category = true -%}{%- endif -%}
{%- if _show_rating_star == 'true' -%}{%- assign show_rating_star = true -%}{%- endif -%}
{%- if _show_product_price == 'true' -%}{%- assign show_product_price = true -%}{%- endif -%}
{%- if _show_addtocart == 'true' -%}{%- assign show_addtocart = true -%}{%- endif -%} 
{%- if _show_addtolinks == 'true' -%}{%- assign show_addtolinks = true -%}{%- endif -%}

{%- capture aspect_ratio -%}{%- include 'shortcode-render' render:'aspect_ratio' -%}{%- endcapture -%}
{%- capture img_size -%}{%- include 'shortcode-render' render:'img_size' -%}{%- endcapture -%}
{%- capture extra_class -%}{%- include 'shortcode-render' render:'extra_class' -%}{%- endcapture -%}
{%- capture creative_layout -%}{%- include 'shortcode-render' render:'creative_layout' -%}{%- endcapture -%}
{%- capture creative_layout_height -%}{%- include 'shortcode-render' render:'layout_height' default:'600' -%}{%- endcapture -%}
{%- capture autoplay -%}{%- include 'shortcode-render' render:'autoplay' -%}{%- endcapture -%}
{%- capture arrows -%}{%- include 'shortcode-render' render:'arrows' -%}{%- endcapture -%}
{%- capture arrows_side -%}{%- include 'shortcode-render' render:'arrows_side' -%}{%- endcapture -%}
{%- capture arrows_type -%}{%- include 'shortcode-render' render:'arrows_type' -%}{%- endcapture -%}
{%- capture arrows_onhover -%}{%- include 'shortcode-render' render:'arrows_onhover' -%}{%- endcapture -%}
{%- capture position_nav -%}{%- include 'shortcode-render' render:'positionArr' -%}{%- endcapture -%}
{%- capture pagenav -%}{%- include 'shortcode-render' render:'dots' -%}{%- endcapture -%}
{%- capture position_pag -%}{%- include 'shortcode-render' render:'positionPag' -%}{%- endcapture -%}
{%- capture handle_collection -%}{%- include 'shortcode-render' render:'handle_collection' -%}{%- endcapture -%} 
{%- assign paginate_index = limit | plus: 0  -%}
{%- assign column_index = column | plus: 0  -%} 
{%- assign autoplay_index = autoplay | plus: 0  -%}
{%- assign use_arrows = false  -%}
{%- assign use_aspect_ratio = false  -%}
{%- assign use_pagenav = false  -%}  
{%- assign use_arrows_onhover = false -%}
{%- assign use_loadmore = false -%} 
{%- if arrows == 'true' -%}{%- assign use_arrows = true -%}{%- endif -%}
{%- if pagenav == 'true' -%}{%- assign use_pagenav = true -%}{%- endif -%}
{%- if arrows_onhover == 'true' -%}{%- assign use_arrows_onhover = true -%}{%- endif -%}
{%- if aspect_ratio == 'true' -%}{%- assign use_aspect_ratio = true -%}{%- endif -%}
{%- if loadmore == 'true' -%}{%- assign use_loadmore = true -%}{%- endif -%}
{%- assign view_mode_class = view_mode -%}
{%- case view_mode -%}
{%- when 'divider' -%} 
{%- assign view_mode_class = 'grid divider-line' -%} 
{%- when 'creative' -%} 
{%- assign view_mode_class = 'grid-creative' -%} 
{%- endcase -%}  
{%- if column_index >= 4 -%}
{%- capture class_grid %}item-1200-{{ column_index }} item-992-4 item-768-3 item-640-2 item-320-1{%- endcapture -%}
{%- endif -%}
{%- if column_index == 3 -%}
{%- capture class_grid %}item-1200-{{ column_index }} item-640-2 item-320-1{%- endcapture -%} 
{%- endif -%}
{%- if column_index <= 2 -%}
{%- capture class_grid %}item-1200-{{ column_index }}{%- endcapture -%}  
{%- endif -%}

{%- assign layout_class = 'product-' | append:product_layout  -%}
{%- assign pt_layout = product_layout  -%}
{%- case product_layout -%}
{%- when 'onhover' -%}
{%- assign layout_class = 'product-default show-links-hover' -%} 
{%- when 'outimage_aq_onimage' -%}
{%- assign layout_class = 'product-outimage_aq_onimage' -%} 
{%- when 'outimage_aq_onimage2' -%}
{%- assign layout_class = 'product-outimage_aq_onimage with-padding' -%}  
{%- when 'quantity' -%}
{%- assign layout_class = 'product-wq_onimage' -%} 
{%- endcase -%} 
{%- if view_mode == 'creative' -%}
  {%- case pt_layout -%}
    {%- when 'default','onhover','outimage_aq_onimage','outimage_aq_onimage2','awq_onimage','outimage','quantity' -%}
      {%- assign layout_class = 'product-onimage' -%}  
      {%- assign pt_layout = 'onimage'  -%}
  {%- endcase -%} 
{%- endif -%}

{%- assign name_collection = handle_collection -%}
{%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
{%- assign collection = collections[name_collection] -%} 
{%- paginate collection.products by paginate_index -%} 
<div class="products-collection porto-products title-{{title_style}} {{extra_class}}"> 
  {%- if block_title != '' -%}
  <h2 class="section-title{% if view_mode == 'products-slider' %} slider-title{% endif %} text-{{title_align}}">
    {%- if title_style == 'border-middle' and title_align != 'left' -%}
    <span class="line-l"></span>
    {%- endif -%}
    <span class="inline-title"> 
      {{ block_title }} 
    </span>
    {%- if title_style == 'border-middle' and title_align != 'right' -%}
    <span class="line-r"></span>
    {%- endif -%}
  </h2>
  {%- endif -%}   
  <div class="porto-products-element">
    <div class="category-products products products-container {{view_mode_class}} products-spacing-{{space}}{% if view_mode == 'grid'  or view_mode == 'divider' %} {{class_grid}}{% endif %}">
      {%- if view_mode == 'products-slider' -%} 
      <div class="data-carousel"
           data-auto="{{ autoplay_index }}"
           data-items="{{ column_index }}"
           data-1200="{{ column_index }}"
           data-992="4"
           data-768="3"
           data-640="2"
           data-480="2"
           data-320="2"
           data-nav="{{ use_arrows }}" 
           data-paging="{{ use_pagenav }}"
           data-margin='0' style="display: none;"></div>
      {%- endif -%}
      {%- if collection.products.size == 0 -%}
      <p style="text-align:center;color:#999;padding: 5px 10px;font-style:italic;">{{ 'products.general.no_more_product' | t }}</p>
      {%- else -%} 
      <div class="{% if view_mode != 'products-slider' %}products-grid {% endif %}{% if view_mode == 'creative' %} masonry-init masonry-grid{% endif %}{% if view_mode == 'products-slider' %} owl-carousel carousel-init owl-carousel-lazy {{position_nav}}{% if position_nav != 'show-nav-title' %} {{arrows_side}} {{arrows_type}}{% endif %} {{position_pag}} {% if use_arrows_onhover %}show-nav-hover{% endif %}{% else %} columns{{column_index}}{% endif %}">
        {%- if view_mode == 'creative' -%}
          {%- case use_aspect_ratio -%}
          {%- when true -%}
            {%- assign _img_size1 = creative_layout_height | times: 2 | append: 'x' -%}
            {%- assign _img_size2 = creative_layout_height | append: 'x' -%}
          {%- else -%}
            {%- assign _img_w = creative_layout_height | remove: 'px' | plus: 0 -%}
            {%- assign _img_h = creative_layout_height | remove: 'px' | plus: 0  -%}
            {%- capture _img_size1 -%}{{_img_w | times: 2}}x{{_img_h | times: 2}}{%- endcapture -%}
            {%- capture _img_size2 -%}{{_img_w}}x{{_img_h}}{%- endcapture -%}
          {%- endcase -%} 
          {%- assign _cr_hindex1 = creative_layout_height | remove: 'px' -%}
          {%- assign _cr_hindex2 = creative_layout_height | remove: 'px' | divided_by: 2 -%}
          {%- assign _cr_hindex3 = creative_layout_height | remove: 'px' | times: 2 | divided_by: 3 -%}
          {%- assign _cr_hindex4 = creative_layout_height | remove: 'px' | divided_by: 3 -%}
          {%- capture _cr_style1 -%}style="height:{{_cr_hindex1}}px;"{%- endcapture -%}
          {%- capture _cr_style2 -%}style="height:{{_cr_hindex2}}px;"{%- endcapture -%}
          {%- capture _cr_style3 -%}style="height:{{_cr_hindex3}}px;"{%- endcapture -%}
          {%- capture _cr_style4 -%}style="height:{{_cr_hindex4}}px;"{%- endcapture -%}
          <div class="grid-sizer"></div>
        {%- endif -%}
        {%- case use_aspect_ratio -%}
        {%- when true -%}
          {%- assign image_width = img_size | split: 'x' | first -%}
          {%- assign image_height = '' -%}
          {%- assign ar = 1 -%}
        {%- else -%}
          {%- assign image_width = img_size | split: 'x' | first -%}
          {%- assign image_height = img_size | split: 'x' | last -%}
          {%- if image_width < image_height -%}
            {%- assign ar = image_width | divided_by: 1 -%}
          {%- else -%}
            {%- assign ar = image_width | divided_by: image_height -%}
          {%- endif -%}
        {%- endcase -%}  
        {%- for product in collection.products -%} 
        {%- if view_mode == 'creative' -%}
          {%- case creative_layout -%} 
            {%- when '2' -%}
              {%- capture cr_class -%}
                  {%- cycle 'grid-col-1-2 grid-height-2-3', 'grid-col-1-4 grid-height-1-2', 'grid-col-1-4 grid-height-1', 'grid-col-1-2 grid-height-1-3', 'grid-col-1-4 grid-height-1-2' -%}
              {%- endcapture -%}
              {%- capture cr_img_size -%} 
                  {%- cycle _img_size1, _img_size2, _img_size1, _img_size1, _img_size2 -%}
              {%- endcapture -%}
              {%- capture cr_style -%}
                  {%- cycle _cr_style3, _cr_style2, _cr_style1, _cr_style4, _cr_style2 -%}
              {%- endcapture -%} 
            {%- when '3' -%}
              {%- capture cr_class -%}
                  {%- cycle 'grid-col-1-2 grid-height-1', 'grid-col-1-4 grid-height-1', 'grid-col-1-4 grid-height-1-2', 'grid-col-1-4 grid-height-1-2' -%}
              {%- endcapture -%}
              {%- capture cr_img_size -%} 
                  {%- cycle _img_size1, _img_size1, _img_size2, _img_size2 -%}
              {%- endcapture -%}
              {%- capture cr_style -%}
                  {%- cycle _cr_style1, _cr_style1, _cr_style2, _cr_style2 -%}
              {%- endcapture -%}  
            {%- when '4' -%}
              {%- capture cr_class -%}
                  {%- cycle 'grid-col-2-5 grid-col-md-1 grid-col-lg-2-3 grid-height-1', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2','grid-col-2-5 grid-col-md-1 grid-col-lg-2-3 grid-height-1', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2', 'grid-col-1-5 grid-col-md-1-2 grid-col-lg-1-3 grid-height-1-2' -%}
              {%- endcapture -%}
              {%- capture cr_img_size -%} 
                  {%- cycle _img_size1, _img_size2, _img_size2, _img_size2, _img_size2, _img_size2, _img_size2, _img_size2, _img_size2, _img_size2, _img_size1, _img_size2, _img_size2, _img_size2 -%}
              {%- endcapture -%}
              {%- capture cr_style -%}
                  {%- cycle _cr_style1, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style2, _cr_style1, _cr_style2, _cr_style2, _cr_style2 -%} 
              {%- endcapture -%} 
            {%- when '5' -%}
              {%- capture cr_class -%}
        		{%- cycle 'grid-col-5-12 grid-col-lg-1-2 grid-col-md-1 grid-height-1', 'grid-col-1-4 grid-col-lg-1-2 grid-col-md-1-2 grid-height-1', 'grid-col-2-12 grid-col-lg-1-4 grid-col-md-1-2 grid-height-1-2', 'grid-col-2-12 grid-col-lg-1-4 grid-col-md-1-2 grid-height-1-2', 'grid-col-2-12 grid-col-lg-1-4 grid-col-md-1-2 grid-height-1-2', 'grid-col-2-12 grid-col-lg-1-4 grid-col-md-1-2 grid-height-1-2' -%}
              {%- endcapture -%}
              {%- capture cr_img_size -%} 
        		{%- cycle _img_size1, _img_size1, _img_size2, _img_size2, _img_size2, _img_size2 -%}
              {%- endcapture -%}
              {%- capture cr_style -%}
        		{%- cycle _cr_style1, _cr_style1, _cr_style2, _cr_style2, _cr_style2, _cr_style2 -%}
        {%- endcapture -%} 
            {%- else -%}
              {%- capture cr_class -%}
                  {%- cycle 'grid-col-1-2 grid-height-1', 'grid-col-1-4 grid-height-1-2', 'grid-col-1-4 grid-height-1', 'grid-col-1-4 grid-height-1-2' -%}
              {%- endcapture -%}
              {%- capture cr_img_size -%} 
                  {%- cycle _img_size1, _img_size2, _img_size1, _img_size2 -%}
              {%- endcapture -%}
              {%- capture cr_style -%}
                  {%- cycle _cr_style1, _cr_style2, _cr_style1, _cr_style2 -%}
              {%- endcapture -%}
          {%- endcase -%}
        {%- endif -%} 
        {%- if view_mode == 'creative' -%}  
          {%- assign image_size = cr_img_size -%} 
        {%- else -%}
          {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%} 
          {%- assign pt = 100 | divided_by: ar | append: '%' -%}
        {%- endif -%}
        {% include 'pt-product-loop' %} 
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div> 
    {%- if paginate.pages > 1 and view_mode != 'products-slider' and use_loadmore != blank -%}
    <div class="products-footer" data-status="{% if paginate.next.is_link %}have-posts{% else %}no-more-posts{% endif %}">
      {%- if paginate.next.is_link -%} 
      {%- assign next_url = paginate.next.url | split: '?' | last -%} 
      <a href="{{collection.url}}?{{next_url}}&q=viewmode_{{view_mode}}+layout_{{product_layout}}+columns_{{column_index}}+limit_{{paginate_index}}+space_{{space}}+ratio_{{aspect_ratio}}+imgsize_{{img_size}}+creative_{{creative_layout}}+creativeh_{{creative_layout_height}}+show_discount_{{show_discount}}+show_sale_{{show_sale}}+sale_label_text_{{sale_label_text}}+alternative_image_{{alternative_image}}+show_grid_quickview_{{show_grid_quickview}}+show_product_category_{{show_product_category}}+show_rating_star_{{show_rating_star}}+show_product_price_{{show_product_price}}+grid_swatch_type_{{grid_swatch_type}}+show_addtocart_{{show_addtocart}}+show_addtolinks_{{show_addtolinks}}&view=ajax" class="btn btn-borders btn-md btn-default  porto-load-more porto-products-load-more load-on-click">
        <span class="load-more-label" {% if settings.enable_multilang %}data-translate="collections.general.show_more"{% endif %}>{{ 'collections.general.show_more' | t}}</span>
        <span class="load-more-loading" {% if settings.enable_multilang %}data-translate="collections.general.loading"{% endif %}>{{ 'collections.general.loading' | t}} ...</span>
      </a> 
      {%- endif -%}  
    </div>
    {%- endif -%}
  </div>
</div>
{%- endpaginate -%}