<div class="banner-image mb-4">
  <img src="{{media url=&quot;wysiwyg/smartwave/porto/category/banner/shop20_shop_banner.jpg&quot;}}" alt="" />
</div>
<div class="row">
  <div class="col-lg-3">
    <h3 class="widget-title mb-2">TOOLS</h3>
    <div class="content show-more">A power tool makes completing a domestic project or commercial job quick and simple. A range of top brands are available to choose from, with all budgets and needs catered for across a range of options for every application. Top technology including longer life power, cutting edge innovation and reliable mechanics make using a power tool more efficient than ever.</div>
    <a href="javascript:void(0);" class="show_hide mb-3 d-block" data-content="toggle-text">Read More</a>
    <style>
      .content.show-more {
        height: 120px;
        overflow: hidden;
      }
    </style>
    <script type="text/javascript">
      require([
        'jquery',
        'owl.carousel/owl.carousel.min'
      ], function ($) {
        $(".show_hide").off("click").on("click", function(e){
          if($(this).prev(".content").hasClass("show-more")) {
            $(this).prev(".content").removeClass("show-more");
            $(this).text('Read Less');
          } else {
            $(this).prev(".content").addClass("show-more");
            $(this).text('Read More');
          }
          e.stopPropagation();
        });
      });
    </script>
    <h4 class="widget-title mb-0">Categories</h3>
    <ul class="category-sidebar">
      <li>
        <a href="#">Categories</a> 
      </li>
      <li>
        <a href="#">Fashion</a> 
      </li>
      <li>
        <a href="#">Accessories</a> 
      </li>
      <li>
        <a href="#">Electronics</a> 
      </li>
      <li>
        <a href="#">Dress</a> 
      </li>
    </ul> 
  </div>
  <div class="col-lg-9">
    <div class="porto-products hide-count">
      <ul id="products-category" class="products products-container category-pos-outside category-text-center category-color-dark nav-pos-outside nav-style-4 show-nav-hover pcols-lg-4">
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/product-20.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Accessories</h3>
                  <span class="thumb-info-type"> <mark class="count">8</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/product-89-2.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Bags</h3>
                  <span class="thumb-info-type"> <mark class="count">4</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/headphone-3.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Electronics</h3>
                  <span class="thumb-info-type"> <mark class="count">8</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/product-21.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Fashion</h3>
                  <span class="thumb-info-type"> <mark class="count">11</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/headphone-1.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Headphone</h3>
                  <span class="thumb-info-type"> <mark class="count">3</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/shoes-16-2.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Shoes</h3>
                  <span class="thumb-info-type"> <mark class="count">4</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/product-89-2.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Bags</h3>
                  <span class="thumb-info-type"> <mark class="count">4</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
        <li class="product-category product-col">
          <a href="#">
            <span class="thumb-info align-center">
              <span class="thumb-info-wrapper tf-none">
                <img src="{{media url=&quot;wysiwyg/smartwave/porto/homepage/03/headphone-1.jpg&quot;}}"/>
              </span>
              <span class="thumb-info-wrap">
                <span class="thumb-info-title">
                  <h3 class="sub-title thumb-info-inner">Headphone</h3>
                  <span class="thumb-info-type"> <mark class="count">3</mark> Products </span>
                </span>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div id="best-products" class="porto-products title-border-bottom mb-3">
      <h2 class="section-title slider-title text-left">
        <span class="line-l"></span>
        <span class="inline-title">Best sellers...</span>
        <span class="line-r"></span>
      </h2>
      <div class="slider-wrapper">
        {{block class="Smartwave\Filterproducts\Block\Home\LatestList" name="featured_product" extra_class="nav-center-images-only nav-pos-outside nav-style-4 show-nav-hover dots-style-1" product_count="8" aspect_ratio="0" image_width="350" image_height="350" template="owl_list.phtml"}}
        <script type="text/javascript">
          require([
            'jquery',
            'owl.carousel/owl.carousel.min'
          ], function ($) {
            $("#best-products .owl-carousel").owlCarousel({
              autoplay: false,
              autoplayTimeout: 5000,
              autoplayHoverPause: true,
              loop: true,
              navRewind: true,
              lazyLoad:true,
              margin: 0,
              nav: true,
              dots: false,
              responsive: {
                0: {
                  items:2
                },
                640: {
                  items:3
                },
                768: {
                  items:3
                },
                992: {
                  items:4
                },
                1200: {
                  items:4
                }
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>  