<!-- /templates/customers/account.liquid -->
{{ 'sidebar.css' | asset_url | stylesheet_tag }}
{{ 'customer.css' | asset_url | stylesheet_tag }}
{%- capture breadcrumb -%}
<section class="page-top page-header-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs-wrap text-center">
          <ul class="breadcrumb">
            <li class="home">
              <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
              <i class="icon-angle-right"></i>
            </li>
            <li> 
              <span>{{ 'customer.account.title' | t }}</span>
            </li>
          </ul>
        </div>
        <div class="text-center">
          <h1 class="page-title">
            <span>{{ 'customer.account.title' | t }}</span> 
          </h1>
        </div>
      </div>
    </div>
  </div>
</section> 
{%- endcapture -%}
{%- if settings.sidebar_move == blank -%}
{{breadcrumb}}
{%- endif -%}
<div class="container">
  <div class="row">
    {%- assign sidebar_class = 'col-lg-3' -%}
    {%- if settings.sidebar_left_account != blank -%}
    {%- assign main_class = 'col-lg-9' -%}
    {%- endif -%} 
    {%- if settings.sidebar_right_account != blank -%}
    {%- assign main_class = 'col-lg-9' -%} 
    {%- endif -%}
    {%- if settings.sidebar_left_account != blank and settings.sidebar_right_account != blank -%}
    {%- assign main_class = 'col-lg-6' -%} 
    {%- endif -%}  
    {%- if settings.sidebar_left_account == blank and settings.sidebar_right_account == blank -%}
    {%- assign main_class = 'col-lg-12' -%} 
    {%- endif -%}
    <div class="{{main_class}} main-content" style="order:2;">
      {%- if settings.sidebar_move != blank -%}
      {{breadcrumb}}
      {%- endif -%}
      <div class="account-dashboard">
        <div class="main-account">
          <div class="my-account">
            <h5>{{ customer.name }} <span><a href="/account/logout">({{ 'customer.logout.title' | t }})</a></span></h5>
            <div class="content">
              {% if customer.default_address != nil %}
              <p>
                {{ customer.default_address.address1 }}<br>

                {% if customer.default_address.address2 != "" %}
                {{ customer.default_address.address2 }}<br>
                {% endif %}

                {% if customer.default_address.city != "" %}
                {{ customer.default_address.city }}<br>
                {% endif %}

                {% if customer.default_address.province_code != "" %}
                {{ customer.default_address.province_code | upcase }}<br>
                {% endif %}

                {% if customer.default_address.zip != "" %}
                {{ customer.default_address.zip | upcase }}<br>
                {% endif %}

                {% if customer.default_address.country != "" %}
                {{ customer.default_address.country }}<br>
                {% endif %}

                {% if customer.default_address.phone != "" %}
                {{ customer.default_address.phone }}
                {% endif %}
              </p>

              {% endif %}

              <p><a href="/account/addresses" class="btn-button bordered"><span>{{ 'customer.account.view_addresses' | t }}</span> ({{ customer.addresses_count }})</a></p>
            </div>
          </div>
          <div class="my-order">
            <h5>{{ 'customer.orders.title' | t }}</h5>
            {% comment %}
            If we have past orders, loop through each one
            {% endcomment %}
            {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}

            <div class="table-wrap">
              <table class="full">
                <thead>
                  <tr>
                    <th>{{ 'customer.orders.order_number' | t }}</th>
                    <th>{{ 'customer.orders.date' | t }}</th>
                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                    <th>{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                  <tr>
                    <td>{{ order.name | link_to: order.customer_url }}</td>
                    <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td>{{ order.financial_status_label }}</td>
                    <td>{{ order.fulfillment_status_label }}</td>
                    <td>{{ order.total_price | money }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
            {% endif %}
            {% if paginate.pages > 1 %}
            <hr>
            <div class="pagination">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
            </div>
            {% endif %}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
    {% if settings.sidebar_left_account != blank %}
    <div class="{{sidebar_class}} sidebar col-left">
      {% section 'sidebar-left' %}
    </div>
    {% endif %}  
    {% if settings.sidebar_right_account != blank %}
    <div class="{{sidebar_class}} sidebar-right col-right">
      {% section 'sidebar-right' %}
    </div>
    {% endif %} 
  </div>
</div>
