{%- if section.blocks.size > 0 -%}
{%- assign col = 12 | divided_by: section.blocks.size -%}
{%- else -%}
{%- assign col = 4 -%}
{%- endif -%}
<style>
.banner_text_{{ section.id }} .banner_text_1 .content h3 a{color:{{section.settings.title_color}}}
.banner_text_{{ section.id }} .banner_text_1 .content span{color:{{section.settings.text_color}}}
.banner_text_{{ section.id }} .banner_text_1 .content {background-color:{{section.settings.bg_content_color}}}
</style>
<div data-section-id="{{ section.id }}" data-section-type="banner-text-section">
  <div class="banner_text_{{ section.id }}" style="background-color:{{section.settings.bg_section_color}}; margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.section_padding}};">
    <div class="banner_text_1">
      <div class="container">
        <div class="row">
          {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
          <div class="col-md-{{col}}">
            <div class="item">
              {%- if block.settings.banner_image != blank -%}
              {%- assign img_url = block.settings.banner_image | img_url: '360x304' -%}
              {%- assign ar = block.settings.banner_image.aspect_ratio -%}
              {%- else -%}
              {%- assign img_url = 'img360x304.png' | asset_url -%}
              {%- assign ar = 1.184210526315789 -%}
              {%- endif -%}
              {%- assign pt = 100 | divided_by: ar | append: '%' -%}
              <a class="image-link" href="{{ block.settings.banner_link }}">
                <img data-src="{{ img_url }}" alt="{{block.settings.banner_image.alt}}" style="padding-top: {{pt}};"/>
              </a>
              <div class="content">
                {%- if block.settings.banner_title != '' -%}
                <h3>
                  <a href="{{block.settings.banner_link}}"> 
                    {{ block.settings.banner_title }} 
                  </a>
                </h3>
                {%- endif -%}
                {%- if block.settings.banner_content != '' -%}
                <span> 
                  {{ block.settings.banner_content }} 
                </span>
                {%- endif -%}
              </div>
            </div>
          </div>
          {%- endfor -%}
          {%- else -%}
          <p>No Content</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.banner-text.name",
  "tag": "section",
  "class": "spaced-section banner-text", 
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.banner-text.settings.header__1.content"
    },
    {
      "type": "color",
      "id": "bg_section_color",
      "label": "t:sections.banner-text.settings.bg_section_color.label"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "t:sections.banner-text.settings.margin_top.label",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "t:sections.banner-text.settings.margin_bottom.label",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "t:sections.banner-text.settings.section_padding.label",
      "info": "t:sections.banner-text.settings.section_padding.info"
    },
    {
      "type": "header",
      "content": "t:sections.banner-text.settings.header__2.content"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.banner-text.settings.title_color.label",
      "default": "#050203"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.banner-text.settings.text_color.label",
      "default": "#7b7f83"
    },
    {
      "type": "color",
      "id": "bg_content_color",
      "label": "t:sections.banner-text.settings.bg_content_color.label",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.banner-text.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "t:sections.banner-text.blocks.image.settings.banner_image.label"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "t:sections.banner-text.blocks.image.settings.banner_link.label"
        },
        {
          "type":"text",
          "id":"banner_title",
          "label":"t:sections.banner-text.blocks.image.settings.banner_title.label"
        },
        {
          "type":"html",
          "id":"banner_content",
          "label":"t:sections.banner-text.blocks.image.settings.banner_content.label"
        }
      ]
    }
  ],
  "presets": [{
    "name": "t:sections.banner-text.presets.name",
    "category": "Banner",
    "settings": {

    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "banner_title": "SUNGLASSES",
          "banner_content": "Lorem Ipsum is simply dummy<br>text of the printing and typesetting industry.<br>Lorem Ipsum has"
        }
      },
      {
        "type": "image",
        "settings": {
          "banner_title": "SHOES",
          "banner_content": "Lorem Ipsum is simply dummy<br>text of the printing and typesetting industry.<br>Lorem Ipsum has"
        }
      },
      {
        "type": "image",
        "settings": {
          "banner_title": "WATCHES",
          "banner_content": "Lorem Ipsum is simply dummy<br>text of the printing and typesetting industry.<br>Lorem Ipsum has"
        }
      }
    ]
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
