{%- if section.settings.faq_order_enable == blank -%}
<div class="row vc_custom_1496940694752">
  <div class="col-sm-12">
    <div class="vc_column-inner vc_custom_1484657273903">
      <div class="wpb_wrapper">
        <div class="title-wrapper text-left vc_custom_1493369598617">
          <div class="liner-continer porto-products title-border-bottom"> 
            <h3 class="section-title slider-title text-left">{{ section.settings.title }}</h3> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row vc_custom_1496940708254">
  {%- for block in section.blocks -%}
  <div class="col-sm-6">
    <div class="vc_column-inner vc_custom_1484657119633">
      <div class="wpb_wrapper">
        {%- for i in (1..3) -%}
        {%- capture title -%}title_{{forloop.index}}{%- endcapture -%}
        {%- capture content -%}answering_{{forloop.index}}{%- endcapture -%}
          {%- if block.settings[title] != '' -%}
          <h3 style="font-size: 14px;text-align: left" class="vc_custom_heading"> 
            {{ block.settings[title] }} 
          </h3>
          {%- endif -%}
          {%- if block.settings[content] != '' -%}
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper"> 
              {{ block.settings[content] }} 
            </div>
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>
{%- endif -%}
{% schema %}
  {
    "name": "t:sections.faqpage-order.name",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.faqpage-order.settings.title.label",
        "default": "ORDERS AND RETURNS"
      },
      {
        "type": "checkbox",
        "id": "faq_order_enable",
        "label": "t:sections.faqpage-order.settings.faq_order_enable.label",
		"default": false,
        "info": "t:sections.faqpage-order.settings.faq_order_enable.info"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "t:sections.faqpage-order.blocks.block.name",
        "settings": [
          {
            "type": "header",
            "content": "t:sections.faqpage-order.blocks.block.settings.header__1.content"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "t:sections.faqpage-order.blocks.block.settings.title_1.label",
            "default": "Delivery charges for orders from the Online Shop?"
          },
          {
            "type": "textarea",
            "id": "answering_1",
            "label": "t:sections.faqpage-order.blocks.block.settings.answering_1.label",
            "default": "<p>Torquent posuere vel id sagittis urna placerat ridiculus odio vestibulum donec tristique a nisl eros conubia condimentum nunc quisque nibh adipiscing habitasse parturient suspendisse proin a pharetra commodo leo tincidunt lobortis lacinia sem parturient dapibus.</p><p>Ad vivamus nullam scelerisque a neque suspendisse consectetur fringilla a suspendisse proin senectus lobortis lacinia sem parturient dapibus ad aliquet maecenas dis neque.</p>"
          },
          {
            "type": "header",
            "content": "t:sections.faqpage-order.blocks.block.settings.header__2.content"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "t:sections.faqpage-order.blocks.block.settings.title_2.label",
            "default": "Delivery charges for orders from the Online Shop?"
          },
          {
            "type": "textarea",
            "id": "answering_2",
            "label": "t:sections.faqpage-order.blocks.block.settings.answering_2.label",
            "default": "<p>Torquent posuere vel id sagittis urna placerat ridiculus odio vestibulum donec tristique a nisl eros conubia condimentum nunc quisque nibh adipiscing habitasse parturient suspendisse proin a pharetra commodo leo tincidunt lobortis lacinia sem parturient dapibus.</p><p>Ad vivamus nullam scelerisque a neque suspendisse consectetur fringilla a suspendisse proin senectus lobortis lacinia sem parturient dapibus ad aliquet maecenas dis neque.</p>"
          },
          {
            "type": "header",
            "content": "t:sections.faqpage-order.blocks.block.settings.header__3.content"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "t:sections.faqpage-order.blocks.block.settings.title_3.label",
            "default": "Delivery charges for orders from the Online Shop?"
          },
          {
            "type": "textarea",
            "id": "answering_3",
            "label": "t:sections.faqpage-order.blocks.block.settings.answering_3.label",
            "default": "<p>Torquent posuere vel id sagittis urna placerat ridiculus odio vestibulum donec tristique a nisl eros conubia condimentum nunc quisque nibh adipiscing habitasse parturient suspendisse proin a pharetra commodo leo tincidunt lobortis lacinia sem parturient dapibus.</p><p>Ad vivamus nullam scelerisque a neque suspendisse consectetur fringilla a suspendisse proin senectus lobortis lacinia sem parturient dapibus ad aliquet maecenas dis neque.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}