<div data-section-id="{{ section.id }}" data-section-type="infomation-section">
  {{ 'section-info-box.css' | asset_url | stylesheet_tag }}
  <div class="vc_custom_{{section.id}}"  style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    <div class="container"> 
        <div class="wpb_wrapper">
          {%- if section.blocks.size > 0 -%} 
            <div class="row vc_custom_{{section.id}} collection-spacing-{{section.settings.space_item}}">
              {%- for block in section.blocks -%} 
              <div class="item col-xl-{{block.settings.column_width_desktop}} col-md-{{block.settings.column_width_tablet}} col-sm-{{block.settings.column_width_tablet}} col-xs-{{block.settings.column_width_mobile}}{% if block.settings.column_hidden_tablet != blank %} hidden-md{% endif %}{% if block.settings.column_hidden_mobile != blank %} hidden-xs{% endif%}{%if block.settings.background_position != 'default' %} porto-bg-{{block.settings.background_position | replace: '_', ' ' }}{% endif %} text-{{block.settings.column_text_alignment}}">
                <div class="vc_column-inner vc_box_custom_{{ block.id }}7">
                  <div class="wpb_wrapper"> 
                    <div class="info-box-wrapper {{block.settings.extra_class}}">
                      <div id="infobox-{{block.id}}" class="porto-info-box with-btn btn-position-{{block.settings.button_position}}  text-{{block.settings.text_alignment}} icon-alignment-{{block.settings.image_alignment}} box-{{block.settings.box_style}} color-scheme-{{block.settings.color_scheme}}{% if block.settings.box_style == 'bg-hover'%} hover-color-scheme-{{block.settings.color_scheme_hover}}{% endif %} porto-bg-none vc_custom_{{block.id}}5">
                        <div class="box-icon-wrapper with-{{block.settings.icon_type}}{% if block.settings.icon_type == 'text' %} text-size-{{block.settings.icon_text_size}}{% endif %} icon-style-{{block.settings.icon_style}}">
                          <div class="info-box-icon"> 
                            {%- if block.settings.icon_type == 'text' -%}
                              {{block.settings.icon_text}}
                            {%- endif -%}
                            {%- if block.settings.icon_type == 'icon' -%}
                              {%- assign imw = block.settings.icon_image_size | append: 'x'-%}
                              {%- if block.settings.icon_image != blank -%}
                              <img src="{{block.settings.icon_image | img_url: imw, crop: 'center'}}" /> 
                              {%- endif -%}
                            {%- endif -%}
                          </div> 
                        </div>
                        <div class="info-box-content"> 
                          {%- if block.settings.title != '' -%}
                          <h3 class="info-box-title" style="color: {{block.settings.title_color}};font-size: {{block.settings.title_size | remove: 'px' | append: 'px'}};font-weight: {{block.settings.title_font_weight}};line-height: {{block.settings.title_line_height | remove: 'px' | append: 'px'}};">
                            {{ block.settings.title }} 
                          </h3>
                          {%- endif -%}
                          {%- if block.settings.sub_title != '' -%}
                          <p style="color:{{block.settings.subtitle_color}};font-size:{{block.settings.subtitle_size | remove: 'px'| append: 'px'}};font-weight:{{block.settings.subtitle_font_weight}};line-height:{{block.settings.subtitle_line_height | remove: 'px' | append: 'px'}};">
                            {{ block.settings.sub_title }} 
                          </p>
                          {%- endif -%}
                          {%- if block.settings.content != '' -%}
                          <div class="info-box-inner"> 
                            {{ block.settings.content }} 
                          </div>
                          {%- endif -%}
                          {%- if block.settings.button_title != '' -%}
                          <div class="info-btn-wrapper">
                            <div class="porto-button-wrapper text-{{block.settings.column_text_alignment}}">
                              <a href="{{block.settings.button_link}}" class="btn-button" style="background-color: {{block.settings.button_bg_color}};color:{{block.settings.button_text_color}};">
                                {{ block.settings.button_title }} 
                              </a>
                            </div>
                          </div>
                          {%- endif -%}
                        </div>
                      </div>
                      <style>
                        {%- if block.settings.box_style == 'bg-hover' -%}
                        #infobox-{{block.id}}:hover {
                          background-color: {{block.settings.background_color_hover}} !important;
                        }
                        {%- endif -%}
                        {%- if block.settings.icon_type == 'text' and block.settings.icon_text_color != blank -%}
                        #infobox-{{block.id}} .with-text {
                          color: {{block.settings.icon_text_color}} !important;
                        }
                        {%- endif -%}
                        {%- if block.settings.icon_style == 'with-border' and block.settings.icon_border_color != blank -%}
                        #infobox-{{block.id}} .info-box-icon {
                          border-color: {{block.settings.icon_border_color}} !important;
                        }
                        {%- endif -%}
                        {%- if block.settings.icon_style == 'with-border' and block.settings.icon_border_hover_color != blank -%}
                        #infobox-{{block.id}}:hover .info-box-icon {
                          border-color: {{block.settings.icon_border_hover_color}} !important;
                        }
                        {%- endif -%}
                        {%- if block.settings.icon_style == 'with-bg' and block.settings.icon_background_color != blank -%}
                        #infobox-{{block.id}} .info-box-icon {
                          background-color: {{block.settings.icon_background_color}} !important;
                        }
                        {%- endif -%}
                        {%- if block.settings.icon_style == 'with-bg' and block.settings.icon_background_hover_color != blank -%}
                        #infobox-{{block.id}}:hover .info-box-icon {
                          background-color: {{block.settings.icon_background_hover_color}} !important;
                        }
                        {%- endif -%}
                        .vc_custom_{{block.id}}5 {
                          {%- if block.settings.box_background_color != blank -%}
                          background-color: {{block.settings.box_background_color}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_background_image != blank -%}
                          background-image: url({{block.settings.box_background_image | img_url: 'master' }}) !important;
                          background-position: {{block.settings.box_background_position | replace: '_', ' ' }} !important;
                          background-repeat: no-repeat !important;
                          background-size: {{block.settings.box_background_size}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_border_integer != blank -%}
                          border-width: {{block.settings.box_border_integer | remove: ' ' | split: '-' | join: ' '}} !important;
                          border-color: {{block.settings.box_border_color}} !important;
                          border-style: {{block.settings.box_border_style}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_margin_top != blank -%}
                          margin-top: {{block.settings.box_margin_top | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_margin_right != blank -%}
                          margin-bottom: {{block.settings.box_margin_right | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_margin_bottom != blank -%}
                          margin-bottom: {{block.settings.box_margin_bottom | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_margin_left != blank -%}
                          margin-bottom: {{block.settings.box_margin_left | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_padding_top != blank -%}
                          padding-top: {{block.settings.box_padding_top | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_padding_right != blank -%}
                          padding-right: {{block.settings.box_padding_right | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_padding_bottom != blank -%}
                          padding-bottom: {{block.settings.box_padding_bottom | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                          {%- if block.settings.box_padding_left != blank -%}
                          padding-left: {{block.settings.box_padding_left | remove: 'px' | append: 'px'}} !important;
                          {%- endif -%}
                        }
                      </style>
                    </div>
                  </div>
                </div>
                <style>
                  .vc_box_custom_{{ block.id }}7 { 
                    {%- if block.settings.background_color != blank -%}
                    background-color: {{block.settings.background_color}} !important;
                    {%- endif -%}
                    {%- if block.settings.background_image != blank -%}
                    background-image: url({{block.settings.background_image | img_url: 'master' }}) !important;
                    background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    {%- endif -%}
                    {%- if block.settings.border_integer != blank -%}
                    border-width: {{block.settings.border_integer | remove: ' ' | split: '-' | join: ' '}} !important;
                    border-color: {{block.settings.border_color}} !important;
                    border-style: {{block.settings.border_style}} !important;
                    {%- endif -%}
                    {%- if block.settings.margin_top != blank -%}
                    margin-top: {{block.settings.margin_top | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                    {%- if block.settings.margin_bottom != blank -%}
                    margin-bottom: {{block.settings.margin_bottom | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                    {%- if block.settings.padding_top != blank -%}
                    padding-top: {{block.settings.padding_top | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                    {%- if block.settings.padding_right != blank -%}
                    padding-right: {{block.settings.padding_right | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                    {%- if block.settings.padding_bottom != blank -%}
                    padding-bottom: {{block.settings.padding_bottom | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                    {%- if block.settings.padding_left != blank -%}
                    padding-left: {{block.settings.padding_left | remove: 'px' | append: 'px'}} !important;
                    {%- endif -%}
                  } 
                </style>
              </div>
              {%- endfor -%}
            </div> 
          {%- endif -%}
        </div> 
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.pt-info-box.name",
  "max_blocks": 4,
  "settings": [    
    {
      "type": "header", 
      "content": "t:sections.pt-info-box.settings.header__1.content"
    },   
    {
      "type": "text",
      "id": "margin_top",
      "label": "t:sections.pt-info-box.settings.margin_top.label", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "t:sections.pt-info-box.settings.margin_bottom.label", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "t:sections.pt-info-box.settings.padding.label",
	  "info": "t:sections.pt-info-box.settings.padding.info"
    }, 
    {
      "type": "header", 
      "content": "t:sections.pt-info-box.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "space_item",
      "label": "t:sections.pt-info-box.settings.space_item.label",
      "options": [
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "20",
          "label": "20"
        }, 
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "0",
          "label": "0"
        }
      ],
      "default": "10"
    }
  ],
  "blocks": [
    {
      "type": "infobox",
      "name": "t:sections.pt-info-box.blocks.infobox.name", 
      "settings": [ 
        {
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__1.content"
        },   
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__2.content"
        },  
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.background_image.label"
        },
        {
          "type": "select",
          "id": "background_position",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__1.label"
            },
            {
              "value": "left_top",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__2.label"
            },
            {
              "value": "left_center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__3.label"
            },
            {
              "value": "left_bottom",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__4.label"
            },
            {
              "value": "center_top",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__5.label"
            },
            {
              "value": "center_center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__6.label"
            },
            {
              "value": "center_bottom",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.background_position.options__6.label"
            }
          ],
          "default": "center_center"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.background_color.label"
        },  
        {
          "type": "color",
          "id": "border_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.border_color.label"
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.label", 
          "options": [
            {
              "value": "solid",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__1.label"
            },
            {
              "value": "dotted",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__2.label"
            },
            {
              "value": "dashed",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__3.label"
            },
            {
              "value": "double",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__4.label"
            },
            {
              "value": "groove",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__5.label"
            },
            {
              "value": "ridge",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__6.label"
            },
            {
              "value": "inset",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__7.label"
            },
            {
              "value": "outset",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.border_style.options__8.label"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "border_integer",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.border_integer.label",
 		  "info": "0-0-1px-0"
        },
        {
          "type": "text",
          "id": "margin_top",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.margin_top.label",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "margin_bottom",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.margin_bottom.label",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_top",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.padding_top.label",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_right",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.padding_right.label",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_bottom",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.padding_bottom.label",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_left",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.padding_left.label",
 		  "info": "30px"
        },
        {
          "type": "select",
          "id": "column_text_alignment",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_text_alignment.label", 
          "options": [
            {
              "value": "left",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.column_text_alignment.options__1.label"
            },
            {
              "value": "right",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.column_text_alignment.options__2.label"
            },
            {
              "value": "center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.column_text_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "extra_class",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.extra_class.label"
        },
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__3.content"
        },
        {
          "type": "select",
          "id": "column_width_desktop",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_width_desktop.label",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "4"
        }, 
        {
          "type": "select",
          "id": "column_width_tablet",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_width_tablet.label",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        }, 
        {
          "type": "select",
          "id": "column_width_mobile",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_width_mobile.label",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "12"
        },
        {
          "type": "checkbox",
          "id": "column_hidden_tablet",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_hidden_tablet.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "column_hidden_mobile",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.column_hidden_mobile.label",
          "default": false
        },
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__4.content"
        }, 
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__5.content"
        },
        {
          "type": "select",
          "id": "icon_type",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_type.label", 
          "options": [
            {
              "value": "icon",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_type.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_type.options__2.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon_style",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_style.label", 
          "options": [
            {
              "value": "simple",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_style.options__1.label"
            },
            {
              "value": "with-bg",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_style.options__2.label"
            },
            {
              "value": "with-border",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_style.options__3.label"
            }
          ]
        }, 
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_image.label"
        }, 
        {
          "type": "text",
          "id": "icon_image_size",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_image_size.label"
        },
        {
          "type": "text",
          "id": "icon_text",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text.label"
        },
        {
          "type": "color",
          "id": "icon_text_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text_color.label"
        },
        {
          "type": "select",
          "id": "icon_text_size",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text_size.label", 
          "options": [
            {
              "value": "default",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text_size.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_text_size.options__3.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "icon_background_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_background_color.label",
		  "info": "t:sections.pt-info-box.blocks.infobox.settings.icon_background_color.info"
        },
        {
          "type": "color",
          "id": "icon_background_hover_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_background_hover_color.label",
		  "info": "t:sections.pt-info-box.blocks.infobox.settings.icon_background_hover_color.info"
        },
        {
          "type": "color",
          "id": "icon_border_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_border_color.label",
		  "info": "t:sections.pt-info-box.blocks.infobox.settings.icon_border_color.info"
        },
        {
          "type": "color",
          "id": "icon_border_hover_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.icon_border_hover_color.label",
		  "info": "t:sections.pt-info-box.blocks.infobox.settings.icon_border_hover_color.info"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.text_alignment.label", 
          "options": [
            {
              "value": "left",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.text_alignment.options__1.label"
            },
            {
              "value": "right",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.text_alignment.options__2.label"
            },
            {
              "value": "center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.text_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.image_alignment.label", 
          "options": [
            {
              "value": "top",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.image_alignment.options__1.label"
            },
            {
              "value": "left",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.image_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.image_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "box_style",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_style.label", 
          "options": [
            {
              "value": "base",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_style.options__1.label"
            },
            {
              "value": "border",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_style.options__2.label"
            },
            {
              "value": "shadow",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_style.options__3.label"
            },
            {
              "value": "bg-hover",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_style.options__4.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "background_color_hover",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.background_color_hover.label",
          "info": "t:sections.pt-info-box.blocks.infobox.settings.background_color_hover.info"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme.label", 
		  "default": "dark",
          "options": [
            {
              "value": "light",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme.options__1.label"
            },
            {
              "value": "dark",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme.options__2.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme_hover",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme_hover.label",
          "info": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme_hover.info",
          "options": [
            {
              "value": "light",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme_hover.options__1.label"
            },
            {
              "value": "dark",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.color_scheme_hover.options__2.label"
            }
          ]
        },
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__6.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.title.label", 
          "default": "Interesting to Know"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.sub_title.label" 
        }, 
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.content.label",
		  "default": "In a professional context it often happens that private."
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.button_title.label", 
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.button_link.label"
        },  
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.subtitle_color.label", 
          "default": "#777"
        }, 
        {
          "type": "text",
          "id": "subtitle_size",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.subtitle_size.label", 
          "default": "14px"
        },   
        {
          "type": "text",
          "id": "subtitle_font_weight",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.subtitle_font_weight.label", 
          "default": "400"
        },    
        {
          "type": "text",
          "id": "subtitle_line_height",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.subtitle_line_height.label", 
          "default": "24"
        },  
        {
          "type": "color",
          "id": "title_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.title_color.label", 
          "default": "#777"
        },   
        {
          "type": "text",
          "id": "title_size",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.title_size.label", 
          "default": "16px"
        },   
        {
          "type": "text",
          "id": "title_font_weight",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.title_font_weight.label", 
          "default": "600"
        },     
        {
          "type": "text",
          "id": "title_line_height",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.title_line_height.label", 
          "default": "24"
        },   
        {
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__7.content"
        },
        {
          "type": "select",
          "id": "button_position",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.button_position.label",
          "options": [
            {
              "value": "hover",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.button_position.options__1.label"
            },
            {
              "value": "static",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.button_position.options__2.label"
            }
          ],
          "default": "static"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.button_bg_color.label"
        }, 
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.button_text_color.label"
        },  
		{
          "type": "header", 
          "content": "t:sections.pt-info-box.blocks.infobox.settings.header__8.content"
        },
        {
          "type": "color",
          "id": "box_background_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_color.label", 
          "default": "transparent"
        },
        {
          "type": "image_picker",
          "id": "box_background_image",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_image.label" 
        },
        {
          "type": "select",
          "id": "box_background_size",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_size.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_size.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_size.options__2.label"
            },
            {
              "value": "contain",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_size.options__3.label"
            }
          ],
          "default": "cover"
        },
        {
          "type": "select",
          "id": "box_background_position",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__1.label"
            },
            {
              "value": "left_top",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__2.label"
            },
            {
              "value": "left_center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__3.label"
            },
            {
              "value": "left_bottom",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__4.label"
            },
            {
              "value": "center_top",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__5.label"
            },
            {
              "value": "center_center",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__6.label"
            },
            {
              "value": "center_bottom",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_background_position.options__7.label"
            }
          ],
          "default": "center_center"
        }, 
        {
          "type": "color",
          "id": "box_border_color",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_color.label"
        },
        {
          "type": "select",
          "id": "box_border_style",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.label", 
          "options": [
            {
              "value": "solid",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__1.label"
            },
            {
              "value": "dotted",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__2.label"
            },
            {
              "value": "dashed",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__3.label"
            },
            {
              "value": "double",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__4.label"
            },
            {
              "value": "groove",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__5.label"
            },
            {
              "value": "ridge",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__6.label"
            },
            {
              "value": "inset",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__7.label"
            },
            {
              "value": "outset",
              "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_style.options__8.label"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "box_border_integer",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_border_integer.label",
          "info": "0-0-1px-0"
        },
        {
          "type": "text",
          "id": "box_margin_top",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_margin_top.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_margin_right",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_margin_right.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_margin_bottom",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_margin_bottom.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_margin_left",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_margin_left.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_padding_top",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_padding_top.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_padding_right",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_padding_right.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_padding_bottom",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_padding_bottom.label",
          "info": "30px"
        },
        {
          "type": "text",
          "id": "box_padding_left",
          "label": "t:sections.pt-info-box.blocks.infobox.settings.box_padding_left.label",
          "info": "30px"
        }
      ]
    } 
  ],
  "presets": [{
    "name": "t:sections.pt-info-box.presets.name",
    "category": "Banner", 
    "blocks": [
      {
        "type": "infobox",
		"settings": {
        }
      } 
    ]
  }]
}
{% endschema %}