<div data-section-id="{{ section.id }}" data-section-type="instagram-section"> 
  {{ 'section-blog-posts.css' | asset_url | stylesheet_tag }}
  <div id="instagram-section-{{ section.id }}" class="article-section">  
    <div style="position:relative;">
      <h3>Code:</h3>
      <code>
        <!-- Shortcode product --> 
        [article title="{{section.settings.title}}" title_align="{{section.settings.title_align}}" title_style="{{section.settings.title_border_style}}" blog="{{section.settings.blog}}" limit="{{section.settings.limit}}" aspect_ratio="{{section.settings.aspect_ratio}}" img_size="{{section.settings.img_size}}" autoplay="{{section.settings.autoplay}}" show_nav="{{section.settings.show_nav}}" nav_side="{{section.settings.nav_side}}" nav_position="{{section.settings.nav_position}}" nav_type="{{section.settings.nav_type}}" nav_onhover="{{section.settings.show_nav_hover}}" show_paging="{{section.settings.show_paging}}" item_margin="{{section.settings.item_margin}}" desktop="{{section.settings.item_desktop}}" tablet="{{section.settings.item_tablet}}" mobile="{{section.settings.item_mobile}}" ] 
        <!-- / Shortcode product -->
      </code>
      <div class="blog_article title-{{section.settings.title_border_style}}"> 
        <h2 class="section-title text-{{section.settings.title_align}}">
          {%- if section.settings.title_border_style == 'border-middle' and section.settings.title_align != 'left' -%}
          <span class="line-l"></span>
          {%- endif -%}
          <span class="inline-title"> 
            {{ section.settings.title }} 
          </span>
          {%- if section.settings.title_border_style == 'border-middle' and section.settings.title_align != 'right' -%}
          <span class="line-r"></span>
          {%- endif -%}
        </h2>
        {%- assign blog = blogs[section.settings.blog] -%}
        {%- unless blog.empty? -%}
        {%- assign aspect_ratio = section.settings.aspect_ratio -%}
          {%- assign img_size = section.settings.img_size -%}
          {%- case aspect_ratio -%}
          {%- when true -%}
            {%- assign image_width = img_size | split: 'x' | first -%}
            {%- assign image_height = '' -%}
            {%- assign ar = 1 -%}
          {%- else -%}
            {%- assign image_width = img_size | split: 'x' | first -%}
            {%- assign image_height = img_size | split: 'x' | last -%}
            {%- if image_width < image_height -%}
              {%- assign ar = image_width | divided_by: 1 -%}
            {%- else -%}
              {%- assign ar = image_width | divided_by: image_height -%}
            {%- endif -%}
          {%- endcase -%}
        <div class="latest_news">
          <div class="recent-posts">
            <div class="data-carousel"
                 data-auto="{{ section.settings.autoplay }}"
                 data-items="{{ section.settings.item_desktop }}"
                 data-1200="{{ section.settings.item_desktop }}"
                 data-992="{{ section.settings.item_tablet }}"
                 data-768="{{ section.settings.item_tablet }}"
                 data-640="{{ section.settings.item_mobile }}"
                 data-480="{{ section.settings.item_mobile }}"
                 data-320="{{ section.settings.item_mobile }}"
                 data-paging="{{ section.settings.show_paging }}"
                 data-nav="{{ section.settings.show_nav }}"
                 data-margin="{{ section.settings.item_margin }}"
                 data-prev='' 
                 data-next='' style="display: none;"></div>
            <div class="post-carousel owl-carousel carousel-init owl-carousel-lazy {{section.settings.nav_position}} {{section.settings.nav_side}} {{section.settings.nav_type}} {% if section.settings.show_nav_hover %}show-nav-hover{% endif %}">
              {%- for article in blog.articles limit:section.settings.limit -%} 
              <div class="item">  
                <div class="grid-box">
                  <div class="post-image m-b-md"> 
                    {%- if article.image -%} 
                    {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%} 
                    {%- assign pt = 100 | divided_by: ar | append: '%' -%} 
                    <a href="{{ article.url }}">
                      <div class="img-thumbnail"><img data-src="{{ article | img_url: image_size, crop: 'center' }}" style="padding-top: {{pt}};"/></div>
                    </a>
                    {%- endif -%}
                    <div class="post-date"> 
                      <span class="day">{{ article.published_at | date: '%d' }}</span>
                      <span class="month">{{ article.published_at | date: '%b' }}</span> 
                    </div>
                  </div>
                  <!-- Post meta before content -->
                  <div class="post-content">
                    <h4 class="entry-title">
                      <a href="{{ article.url }}"> 
                        {{ article.title }} 
                      </a>
                    </h4>  
                    <div class="post-meta m-b-sm d-none">{{ article.published_at | date: '%d-%b-%Y' }}</div>
                    <p class="post-excerpt"> 
                      {{ article.content |strip_html | truncatewords: 15}} 
                      <a class="read-more" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} <i class="fa fa-angle-right"></i></a>
                    </p>
                  </div>
                  <!-- Post meta after content --> 
                  <div class="clearfix"></div>
                </div> 
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
        {%- endunless -%}
      </div> 
    </div> 
  </div>
</div>
{% schema %}
{
  "name": "t:sections.shortcode-article.name",
  "settings": [ 
    {
      "type": "header",
      "content": "t:sections.shortcode-article.settings.header__1.content"
    },   
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.shortcode-article.settings.title.label",
      "default": "Shortcode Title"
    },
    {
      "type": "select",
      "id": "title_border_style",
      "label": "t:sections.shortcode-article.settings.title_border_style.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.shortcode-article.settings.title_border_style.options__1.label"
        },
        {
          "value": "border-bottom",
          "label": "t:sections.shortcode-article.settings.title_border_style.options__2.label"
        },
        {
          "value": "border-middle",
          "label": "t:sections.shortcode-article.settings.title_border_style.options__3.label"
        }
      ],
      "default": "border-bottom"
    }, 
    {
      "type": "select",
      "id": "title_align",
      "label": "t:sections.shortcode-article.settings.title_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.shortcode-article.settings.title_align.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.shortcode-article.settings.title_align.options__2.label"
        },
        {
          "value": "center",
          "label": "t:sections.shortcode-article.settings.title_align.options__3.label"
        } 
      ],
      "default": "left"
    }, 
    {
      "id": "blog",
      "type": "blog",
      "label": "t:sections.shortcode-article.settings.title.label"
    },
    {
      "type": "text",
      "id": "limit",
      "label": "t:sections.shortcode-article.settings.limit.label",
      "default": "4"
    }, 
    {
      "type": "checkbox",
      "id": "aspect_ratio",
      "label": "t:sections.shortcode-article.settings.aspect_ratio.label", 
      "default": true
    },
    {
      "type": "text",
      "id": "img_size",
      "label": "t:sections.shortcode-article.settings.img_size.label",
	  "default":"400x400"
    },
    {
      "type":"header",
      "content": "t:sections.shortcode-article.settings.header__2.content"
    }, 
    {
      "type": "text",
      "id": "autoplay",
      "label": "t:sections.shortcode-article.settings.autoplay.label",
      "default": "5000"
    }, 
    {
      "type": "text",
      "id": "item_desktop",
      "label": "t:sections.shortcode-article.settings.item_desktop.label",
      "default": "3"
    }, 
    {
      "type": "text",
      "id": "item_tablet",
      "label": "t:sections.shortcode-article.settings.item_tablet.label",
      "default": "2"
    },
    {
      "type": "text",
      "id": "item_mobile",
      "label": "t:sections.shortcode-article.settings.item_mobile.label",
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.shortcode-article.settings.show_nav.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_paging",
      "label": "t:sections.shortcode-article.settings.show_paging.label"
    },
    {
      "type": "select",
      "id": "nav_position",
      "label": "t:sections.shortcode-article.settings.nav_position.label",
      "options": [
        {
          "value": "middle",
          "label": "t:sections.shortcode-article.settings.nav_position.options__1.label"
        },
        {
          "value": "nav-center-images-only",
          "label": "t:sections.shortcode-article.settings.nav_position.options__2.label"
        },
        {
          "value": "show-nav-title",
          "label": "t:sections.shortcode-article.settings.nav_position.options__3.label"
        },
        {
          "value": "nav-bottom",
          "label": "t:sections.shortcode-article.settings.nav_position.options__4.label"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "nav_side",
      "label": "t:sections.shortcode-article.settings.nav_side.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.shortcode-article.settings.nav_side.options__1.label"
        },
        {
          "value": "nav-pos-inside",
          "label": "t:sections.shortcode-article.settings.nav_side.options__2.label"
        },
        {
          "value": "nav-pos-outside",
          "label": "t:sections.shortcode-article.settings.nav_side.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "nav_type",
      "label": "t:sections.shortcode-article.settings.nav_type.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.shortcode-article.settings.nav_type.options__1.label"
        },
        {
          "value": "rounded-nav",
          "label": "t:sections.shortcode-article.settings.nav_type.options__2.label"
        },
        {
          "value": "big-nav",
          "label": "t:sections.shortcode-article.settings.nav_type.options__3.label"
        },
        {
          "value": "nav-style-1",
          "label": "t:sections.shortcode-article.settings.nav_type.options__4.label"
        },
        {
          "value": "nav-style-2",
          "label": "t:sections.shortcode-article.settings.nav_type.options__5.label"
        },
        {
          "value": "nav-style-4",
          "label": "t:sections.shortcode-article.settings.nav_type.options__6.label"
        },
        {
          "value": "nav-style-3",
          "label": "t:sections.shortcode-article.settings.nav_type.options__7.label"
        }
      ],
      "default": "nav-style-4"
    },
    {
      "type": "checkbox",
      "id": "show_nav_hover",
      "label": "t:sections.shortcode-article.settings.show_nav_hover.label"
    }, 
    {
      "type": "text",
      "id": "item_margin",
      "label": "Margin",
      "info": "t:sections.shortcode-article.settings.item_margin.label",
      "default": "10"
    } 
  ] 
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
