<div class="mobile-canvas-overlay close-right"></div>
<div class="block-main-canvas canvas-right">
  <div class="canvas-icon sicon-right d-block d-lg-none"><a href="javascript:void(0)"><i class="fa fa-sliders"></i></a></div>
  <div class="canvas-inner">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'html' -%} 
        <div class="custom-block custom-block-1"> 
          {{ block.settings.html }} 
        </div> 
      {%- when 'banner' -%}
        <div class="custom-block">
          <div class="owl-banner">
            <div class="data-carousel"
                 data-items="1"
                 data-auto=""
                 data-paging="true"
                 data-nav="false"
                 data-prev=''
                 data-margin="0"
                 data-next='' style="display: none;"></div>
            <div class="owl-carousel carousel-init owl-carousel-lazy">
              {%- for i in (1..3) -%}
              {%- capture banner %}banner{{ i }}{% endcapture -%}
              {%- capture link %}banner_link_{{ i }}{% endcapture -%}
              {%- capture banner_enable %}banner{{ i }}_enable{% endcapture -%}
              {%- if block.settings[banner_enable] != blank -%}
              <div class="item">
                {%- assign promo_src = block.settings[banner] | img_url: '500x' -%}
                {%- if promo_src contains 'no-image' -%}
                {%- assign promo_src = 'img270x350.png' | asset_url -%}
                {%- endif -%}
                {%- if block.settings[link] != '' -%}
                <a href="{{ block.settings[link] }}" class="image-link">
                  {%- endif -%}
                  <img src="{{ promo_src }}" />
                  {%- if block.settings[link] != '' -%}
                </a>
                {%- endif -%}
              </div>
              {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div> 
      {%- when 'products' -%} 
        <div class="block bestseller-product sidebar-cate-toogle">
          <div class="block-title"> 
            {{ block.settings.title }} 
          </div>
          <div class="sidebar-content block-content">
            {% include 'bestseller-product', sb_collection: block.settings.collection, sb_limit: block.settings.limit %}
          </div>
        </div> 
      {%- endcase -%}
      {%- endfor -%}
    {%- endif -%} 
  </div>
</div>
<script type="text/javascript">
  jQuery(function($) {
    $('.canvas-icon.sicon-right, .close-right').click(function(event) {
      if(!$('body').hasClass('canvas-right')) {
        $('body').addClass('mobile-canvas-shown');
        $('body').addClass('canvas-right', function() {
          setTimeout(function(){
            $(document).one("click",function(e) {
              var target = e.target;
              if (!$(target).is('.canvas-right .block') && !$(target).parents().is('.canvas-right .canvas-inner')) {
                $('body').removeClass('canvas-right'); 
        		$('body').removeClass('mobile-canvas-shown');
              }
            });
          }, 111);
        });
      } else{
        $('body').removeClass('canvas-right'); 
        $('body').removeClass('mobile-canvas-shown');
      }
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.sidebar-right.name", 
  "blocks": [
    {
      "type": "html",
      "name": "t:sections.sidebar-right.blocks.html.name",
      "settings": [  
        {
          "type": "header", 
          "content": "t:sections.sidebar-right.blocks.html.settings.header.content"
        },
        {
          "type": "html",
          "id": "html",
          "label": "t:sections.sidebar-right.blocks.html.settings.html.label",
          "default": "<div><i class=\"icon-shipped\"></i><h3>FREE<br>SHIPPING</h3></div><div><i class=\"icon-us-dollar\"></i><h3>100% MONEY<br>BACK GUARANTEE</h3></div><div><i class=\"icon-online-support\"></i><h3>ONLINE<br>SUPPORT 24/7</h3></div>"
        } 
      ]
    },
    {
      "type": "banner",
      "name": "t:sections.sidebar-right.blocks.banner.name",
      "limit": 1,
      "settings": [
        {
          "type": "header", 
          "content": "t:sections.sidebar-right.blocks.banner.settings.header.content"
        },
        {
          "type": "checkbox",
          "id": "banner1_enable",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner1_enable.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "banner1",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner1.label",
          "info": "t:sections.sidebar-right.blocks.banner.settings.banner1.info"
        },
        {
          "type": "url",
          "id": "banner_link_1",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "banner2_enable",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner2_enable.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "banner2",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner2.label",
          "info": "t:sections.sidebar-right.blocks.banner.settings.banner2.info"
        },
        {
          "type": "url",
          "id": "banner_link_2",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "banner3_enable",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner3_enable.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "banner3",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner3.label",
          "info": "t:sections.sidebar-right.blocks.banner.settings.banner3.info"
        },
        {
          "type": "url",
          "id": "banner_link_3",
          "label": "t:sections.sidebar-right.blocks.banner.settings.banner_link_3.label"
        }
      ]
    },
    {
      "type": "products",
      "name": "t:sections.sidebar-right.blocks.products.name",
      "limit": 1,
      "settings": [  
        {
          "type": "header", 
          "content": "t:sections.sidebar-right.blocks.products.settings.header.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.sidebar-right.blocks.products.settings.title.label",
          "default": "Featured"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.sidebar-right.blocks.products.settings.collection.label"
        },
        {
          "type": "text",
          "id": "limit",
          "label": "t:sections.sidebar-right.blocks.products.settings.limit.label",
          "default": "6"
        }
      ]
    } 
  ]
}
{% endschema %}